#contCarregando {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}
#contCarregando
#loadingIMG svg {
    height: 2rem;
    width: 2rem;
}
#contCarregando
p {
    margin: 0;
    font-size: 0.9rem;
}