#mainPrimeiroAcesso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--marrom3);
    #secPrimeiroAcesso {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--salmao2);
    }
}