:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom1: #26110D;
    --marrom2: #3b1f17;
    --marrom3: #462b18;
    --preto: #000;
}
#mainPerfilConfig {
    background-color: var(--branco);
}
#mainPerfilConfig
> section {
    border-color: var(--marrom1);
    background-color: var(--salmao2);
}
#contInfosFunc {
    border-color: var(--salmao1);
}
#mainHome
.bodyContsOrdens .ordens:hover {
    background-color: var(--salmao3);
    border-color: var(--laranja);
}