:root {
    --azulNav: #2a445a;
    --azul: #2d485f;
    --azulBG: #1c3042;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom1: #26110D;
    --marrom2: #3b1f17;
    --marrom3: #4e2a1f;
    --preto: #000;
}

.paginas {
    background-color: var(--azulBG);
}
.paginacao {
    border-color: var(--marrom1);
    .paginaItem {
        color: var(--salmao2);
        background-color: var(--marrom1);
    }
    .paginaItem:hover,
    .paginaItem:focus {
        background-color: var(--marrom3);
    }
}
.paginas
.shadowBG 
section {
    background-color: var(--salmao2);
}
#pagePerfilConfig {
    #mainPerfilConfig
    > section {
        color: var(--salmao3);
        border-color: var(--salmao1);
        background-color: var(--marrom1);
    }
    #mainPerfilConfig
    #contInfosFunc {
        border-color: var(--salmao1);
        background-color: var(--marrom2);
    }
}
#pageHome {
    #mainHome {
        color: var(--salmao2);
    }
    #mainHome
    section {
        background-color: var(--marrom1);
    }
    #mainHome
    #secTecnicosDisponivei
    .funcsDisp {
        border-color: var(--salmao2);
        background-color: var(--salmao3);
    } 
    #mainHome
    #secOrdens {
        background-color: transparent;
    }
    #mainHome
    #secOrdens .contsOrdens {
        border-color: var(--salmao1);
        background-color: var(--marrom1);
    }
    #mainHome
    .headContsOrdens {
        border-color: var(--salmao2);
    }
    #mainHome
    .headContsOrdens .link {
        color: var(--salmao1);
    }
    #mainHome
    .headContsOrdens .link:hover {
        color: var(--laranja);
    }
    #mainHome
    .contsOrdens .ordens:hover {
        background-color: var(--marrom2);
        border-color: var(--laranja);
    }
    #mainHome
    .contsOrdens 
    .ordens {
        background-color: var(--marrom3);
    }
}
#pageFuncionarios {
    #mainFuncionarios
    section {
        background-color: var(--marrom1);
        border-color: var(--salmao1);
    }
    #contEspecsNovoFunc
    .btt {
        color: var(--salmao2);
        border: 0.1rem solid var(--salmao1);
        background-color: var(--marrom1);
    }
    #contEspecsNovoFunc
    .btt:hover {
        background-color: var(--marrom2);
    }
    #contFiltros {
        color: var(--salmao2);
        background-color: var(--marrom2);
        border-color: var(--salmao1);
        #contPesqFunc {
            border-color: var(--salmao1);
        }
        #contPesqFunc
        input {
            border-color: var(--marrom1);
        }
        #contPesqFunc
        button {
            border-color: var(--marrom1);
            background-color: var(--marrom1);
        }
        #contPesqFunc
        button:hover {
            background-color: var(--marrom2);
        }
        button:focus{
            background-color: var(--marrom2);
            svg {
                color: var(--salmao3);
            }
        }
        #bttFiltros {
            background-color: var(--salmao1);
            color: var(--marrom1);
        }
        #bttFiltros:hover {
            background-color: var(--salmao2);
        }
    }
    #layoutMobile {
        border-color: var(--marrom1);
        .funcs {
            border-color: var(--marrom1);
            background-color: var(--branco);
            .editFunc {
                background-color: var(--branco);
            }
        }
    }
    #contListFuncs {
        #listFuncs {
            border-color: var(--salmao1);
            background-color: var(--marrom2);
            #titleList {
                background-color: var(--marrom1);
                color: var(--salmao2);
            }
            tbody {
                color: var(--salmao2);
                .funcs {
                    border-top-color: var(--salmao1);
                }
                .funcs:hover {
                    background-color: var(--marrom3);
                }
                .cl6 {
                    svg {
                        color: var(--salmao1);
                    }
                }
                .cl6:hover {
                    background-color: var(--laranja);
                    svg {
                        color: var(--marrom1);
                    }
                }
            }
        }
    }
    .ant-pagination {
        .ant-pagination-item {
            background-color: var(--salmao1);
            border-color: var(--marrom1);
            a {
                color: var(--marrom1);
            }
            .anticon {
                color: var(--salmao1);
            }
        }
        .ant-pagination-item:hover {
            background-color: var(--salmao2);
        }
        .ant-pagination-item-active {
            border-color: var(--laranja);
            background-color: var(--marrom1);
            a {
            color: var(--salmao2);

            }
        }
        .ant-pagination-item-active:hover {
            background-color: var(--marrom2);
        }
    }
    #secFiltros {
        background-color: var(--salmao2);
        border-color: var(--marrom1);
        #closeModel 
        svg {
            color: var(--marrom1);
        }
        #closeModel:hover {
            background-color: var(--salmao1);
        }
        #subContFiltros {
            border-color: var(--salmao1);
        }
        #bttCancelar {
            background-color: var(--salmao1);
        }
        #bttAplicar {
            color: var(--salmao2);
            background-color: var(--marrom1);
        }
        #bttCancelar:hover {
            background-color: var(--salmao3);
        }
        #bttAplicar:hover {
            background-color: var(--marrom3);
        }
        button:focus {
            border-color: var(--laranja);
        }
    }
}
#header {
    background-color: var(--marrom1);
    border-bottom: 0.1rem solid;
    border-color: var(--salmao1);
    .tituloPag {
        color: var(--salmao1);
    }
    #iconUser {
        background-color: var(--salmao1);
    }
    #iconUser:hover {
        background-color: var(--salmao2 );
    }
    #iconUser
    svg {
        color: var(--marrom1);
    }
    #sair {
        color: var(--marrom1);
        background-color: var(--salmao1);
    }
    #sair:hover {
        background-color: var(--salmao2);
    }
}
#nav {
    background-color: var(--azulNav);
    .links {
        color: var(--branco);
    }
    .links:hover {
        background-color: var(--azul);
    }
    .iconNav,
    .iconNav > svg,
    img {
        color: var(--branco);
    }
    #containerLinks img {
        color: var(--branco);
    }
    a.active {
        background-color: var(--marrom2);
    }
}