#pageClientes {
    #mainClientes {
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 100%;
        #secListClientes {
            display: flex;
            flex-direction: column;
            grid-area: sec1;
            max-width: 95%;
            max-height: 95%;
            
            padding: 1rem;
            padding-bottom: 0.5rem;
            border-width: 0.1rem;
            border-style: solid;
            border-radius: 0.4rem;

            #containerH2Novo {
                display: flex;
                justify-content: left;
                margin-bottom: 1rem;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.9rem;
                    font-weight: 500;

                    box-sizing: border-box;
                    width: auto;
                    padding: 0.2rem 2rem;
                    border-style: solid;
                    border-width: 0.1rem;
                    border-radius: 0.3rem;

                    transition: 150ms;
                }
            }
            #contListClientes {
                width: 100%;
                overflow-x: auto;
                overflow-y: auto;
                #tabelaClientes {
                    gap: 0;
                    overflow-x: auto;
                    overflow-y: auto;
                    max-width: 100%;

                    border-spacing: 0;
                    border-style: solid;
                    border-width: 0.1rem;
                    border-collapse: collapse;
                    #cabecalho {
                        height: auto;
                        th {
                            text-align: center;
                            font-size: 1rem;
                            font-weight: 400;
                            padding: 0.1rem 0.5rem;
                        }
                    }
                    #listClientes {
                        max-width: 100%;
                        overflow-x: auto;
                        .clientes {
                            height: auto;
                            border-style: solid;
                            border-width: 0.1rem;

                            .nome,
                            .cnpj,
                            .endereco {
                                white-space: nowrap;
                                overflow: hidden;
                                font-size: 0.95rem; 
                                text-overflow: ellipsis;
                                text-align: center;

                                padding: 0.15rem 0.5rem;
                                border-right-style: solid;
                                border-right-width: 0.1rem;

                            }

                            .options {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                padding: 0.1rem 0.4rem;
                                height: 100%;
                                transition: 150ms;
                                svg {
                                    height: 1.25rem;
                                    width: 1.2rem;
                                    margin: 0;
                                }
                            }
                        }

                        
                    }
                }
            }
        }
    }
    #shadowBG {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: #000000da;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        #contNovoCliente {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem;
            border-style: solid;
            border-width: 0.1rem;
            border-radius: 0.5rem;
            
            height: min-content;
            width: min-content;
            min-width: 20rem;

            #contHeadNovoCliente {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;

                h2 {
                    font-size: 1.05rem;
                }
                #closeModel {
                    cursor: pointer;
                    display: block;
                    align-content: center;
                    justify-items: center;
                    padding: 0.1rem 0.3rem;
                    border-radius: 0.3rem;
                    transition: 200ms;
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            height: 1.2rem;
                            width: 1.2rem;
                        }
                    }
                }
            }
            #contInfosNovoCliente {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                padding: 1rem;
                border-style: solid;
                border-width: 0.1rem;
                border-radius: 0.3rem;
                
                div {
                    display: grid;
                    grid-template-columns: min-content auto;
                    gap: 0.4rem;
                    align-items: center;
                    label {
                        font-weight: 500;
                    }
                    input {
                        font-size: 0.9rem;
                        padding: 0rem 0.3rem;
                        border-style: solid;
                        border-radius: 0.3rem;
                        border-width: .1rem;
                        height: auto;
                        line-height: 1.2rem;
                    }
                    input:focus {
                        outline-width: 0.1rem;
                        outline-style: solid;
                    }
                }
            }
            #contAcaoNovoCliente {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                padding: 1rem;
                border-style: solid;
                border-width: 0.1rem;
                border-radius: 0.3rem;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.95rem;
                    font-weight: 500;
                    height: 1.5rem;
                    width: 8rem;
                    border-style: solid;
                    border-width: 0.1rem;
                    border-radius: 0.3rem;

                    transition: 150ms;
                }
                button:hover {
                    text-decoration: underline;
                }
                button:focus {
                    text-decoration: underline;
                    outline-style: solid;
                    outline-width: .1rem;
                }

                
            }
        }
    }
}
#pageClientes {
    section {
        color: var(--marrom1);
        background-color: var(--salmao2);
        border-color: var(--marrom1);
    }
        
    #containerH2Novo {
        button {
            background-color: var(--marrom1);
            color: var(--salmao2);
            border-color: var(--marrom1);
        }
        button:hover {
            background-color: var(--marrom2);
        }
    }
    #tabelaClientes {
        background-color: var(--branco);
        border-color: var(--marrom1);
        #cabecalho {
            color: var(--salmao2);
            background-color: var(--marrom1);
        }
        #listClientes {
            .nome,
            .cnpj,
            .endereco {
                border-right-color: var(--marrom1);
            }
            .options:hover {
                background-color: var(--salmao1);
            }
            .clientes:hover {
                background-color: var(--salmao3);
            }
        }
    }
    .paginacao {
        .ant-pagination {
            .ant-pagination-item {
                background-color: var(--salmao1);
                border-color: var(--marrom1);

                a {
                    color: var(--marrom1);
                }
            }

            .ant-pagination-item:hover {
                background-color: var(--salmao2);
            }

            .ant-pagination-item-active {
                border-color: var(--laranja);
                background-color: var(--marrom1);

                a {
                    color: var(--salmao2);

                }
            }

            .ant-pagination-item-active:hover {
                background-color: var(--marrom2);
            }
        }
    }
    #contNovoCliente {
        background-color: var(--salmao2);
        border-color: var(--marrom1);
        color: var(--marrom1);
        #contHeadNovoCliente {
            #closeModel svg {
                color: var(--marrom1);
            }
            #closeModel:hover {
                background-color: var(--salmao1);
            }
        }
        #contInfosNovoCliente {
            border-color: var(--salmao1);
            input {
                background-color: var(--branco);
                border-color: var(--marrom1);
            }
            input:focus {
                outline-color: var(--laranja);
                border-color: var(--laranja);
            }
        }
        #contAcaoNovoCliente {
            border-color: var(--salmao1);
            button {
                border-color: var(--marrom1);
                color: var(--marrom1);
            }
            button:focus {
                border-color: var(--laranja);
                outline-color: var(--laranja);
            }
            #bttCancelar {
                background-color: #ecea57;
            }
            #bttCancelar:hover {
                background-color: #f5f23b;
            }
            #bttSalvar {
                background-color: #41dd5b;
            }
            #bttSalvar:hover {
                background-color: #21f143;
            }
        }
    }
}
@media screen and (width <=800px) {}