
#pageCliente {
    main {
        display: grid;
        grid-template-areas: 
        "sec1 sec3"
        "sec2 sec3";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr;
        gap: 0.5rem;
        section {
            padding: 1rem;
            border-width: 0.1rem;
            border-style: solid;
            border-radius: 0.3rem;
            h2 {
                font-size: 1.1rem;
                margin: 0;
            }
        }
        #secInfos {
            grid-area: sec1;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            h2 {
                font-size: 1.1rem;
                margin: 0;
                margin-bottom: 1.5rem;
            }
            input {
                font-size: 0.9rem;
                padding: 0.1rem 0.3rem;
                border-width: 0.1rem;
                border-style: solid;
                border-radius: 0.3rem;
            }
            #geral,
            #endereco,
            #fimAcao {
                border-width: 0.1rem;
                border-style: solid;
                border-radius: 0.3rem;
                padding: 0.5rem;
            }
            #geral {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                justify-content: left;
                div {
                    display: flex;
                    gap: 0.3rem;
                }
                #nome {
                    input {
                        width: 15rem;
                    }
                }
                #cnpj {
                    input {
                        width: 7rem;
                    }
                }
            }
            #endereco {
                display: flex;
                flex-wrap: wrap;
                column-gap: 0.5rem;
                row-gap: 0.3rem;

                padding: 0.5rem;
                div {
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                    label {
                        font-size: 0.95rem;
                    }
                }
                #cep {
                    grid-area: cep;
                    width: 100%;
                    input {
                        width: 6rem;
                    }
                    button {
                        cursor: pointer;
                        align-content: center;
                        justify-items: center;
                        font-size: 0.9rem;
                        padding: 0.1rem 0.5rem;
                        border-width: 0.1rem;
                        border-style: solid;
                        border-radius: 0.3rem;
                    }
                    button:focus {
                        outline-width: 0.1rem;
                        outline-style: solid;
                    }
                }
                #rua {
                    grid-area: rua;
                }
                #num {
                    grid-area: num;
                    input {
                        width: 3rem;
                    }
                }
                #complemento {
                    grid-area: com;
                }
                #bairro {
                    grid-area: bairro;
                }
                #cidade {
                    grid-area: cidade;
                }
                #uf {
                    input {
                        width: 2rem;
                    }
                }
            }
            #fimAcao {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.95rem;
                    font-weight: 500;
                    
                    height: auto;
                    width: auto;
                    padding: 0.1rem 1.5rem;
                    border-width: 0.1rem;
                    border-style: solid;
                    border-radius: 0.3rem;

                    transition: 150ms;
                }
                button:focus {
                    text-decoration: underline;
                    outline-width: 0.1rem;
                    outline-style: solid;
                }
                
            }
        }
        #secContatos {
            grid-area: sec2;
            #containerH2Novo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                margin-bottom: 1.5rem;

                #bttNovoCtt  {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.95rem;
                    height: 1.5rem;
                    width: 6rem;
                    border: none;
                    border-radius: 0.3rem;

                }
                #bttNovoCtt:focus {
                    outline-width: 0.11rem;
                    outline-style: solid;
                }
            }
            #listContatos {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                overflow-y: auto;

                .contato {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    
                    font-size: 0.95rem;
                    font-weight: 500;
                    padding: 0.25rem 0.99rem;
                    border-style: solid;
                    border-width: 0.1rem;
                    border-radius: 0.5rem;
                    
                    .contContatoLeft {
                        display: flex;
                        flex-direction: column;
                        /* row-gap: 0.1rem; */
                        h4 {
                            font-size: 0.91rem;
                        }
                        p {
                            font-size: 0.75rem;
                            letter-spacing: 0.1rem;
                        }
                    }
                    .contContatoRight {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.4rem;
                        
                        button {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 500;
                            font-size: 0.9rem;
                            padding: 0.2rem 0.5rem;
                            border-style: solid;
                            border-width: 0.1rem;
                            border-radius: 0.3rem;
                        }
                        button:focus {
                            outline-width: 0.1rem;
                            outline-style: solid;
                        }
                        #iconMaisContato {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            box-sizing: border-box;
                            padding: 0 0.1rem;
                        }
                        #iconMaisContato svg {
                            height: 1.1rem;
                            width: 1.1rem;
                        }
                    }
                    /* .contatoHeader {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 1rem;
                        font-size: 0.9rem;
                        font-weight: 500;

                        padding: 0.2rem 0.5rem;
                        

                        .divLeftContato {
                            display: flex;
                            align-items: center;
                            gap: 0.3rem;
                            
                            img {
                                cursor: pointer;
                                width: 1.7rem;
                            }
                            .nome {
                            }
                        } 
                        .bttsContato {
                            display: flex;
                            gap: 0.5rem;
                            button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                font-size: 0.9rem;
                                font-weight: 600;

                                box-sizing: border-box;
                                width: auto;
                                height: auto;
                                padding: 0.15rem 1rem;
                                border: 0;
                                border-radius: 0.3rem;
                                color: var(--marrom1);
                                background-color: var(--salmao1);

                                transition: 150ms;
                            }
                            button:hover {
                                background-color: var(--salmao3);
                            }
                        }
                    }
                    .contatoBody {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.1rem;
                        font-size: 0.9rem;
                        padding: 0.3rem 0.3rem;                        
                        border-style: solid;
                        border-width: 0.1rem;
                        border-top: 0;
                        
                        div {
                            flex-grow: 1;
                            flex-basis: 20rem;
                            border: 0.1rem solid var(--marrom1);
                        }
                    } */
                }
                /* .fechado {
                    .contatoHeader {
                        border-radius: 0.3rem;
                    }
                    .contatoBody {
                        display: none;
                    }
                }
                .aberto {
                    .contatoHeader {
                        border-radius: 0.3rem 0.3rem 0 0;
                    }
                    .contatoBody {
                        border-radius: 0 0 0.3rem 0.3rem;
                    }
                } */
            }
        }
        #secHistorico {
            grid-area: sec3;
        }
        #secHistorico > h2 {
            font-size: 1.1rem;
            margin-bottom: 1.5rem;
        }
        #contListHistoricos {
            border-style: solid;
            border-width: 0.1rem;
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;

        }
        /* #contListHistoricos 
        th, td {
            font-weight: 400;
            padding: 0.1rem 0.2rem;
            text-align: center;
            border: 0.1rem solid;
        } */
        thead th{
            font-weight: 400;
        }
        tbody td {
            font-size: 0.95rem;
            text-align: center;
        }
    }
    #shadowBG {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: #000000da;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        #secNovoContato {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem;
            /* min-width: 30rem; */
            border-radius: 0.3rem;
            #contHeadNovoContato {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                h2 {
                    font-size: 1.1rem;
                }
                #closeModel {
                    cursor: pointer;
                    display: block;
                    align-content: center;
                    justify-items: center;
                    padding: 0.1rem 0.3rem;
                    border-radius: 0.3rem;
                    transition: 200ms;
                    svg {
                        height: 1.2rem;
                        width: 1.2rem;
                    }
                }
            }
            #contFormNovoContato {
                display: flex;
                flex-direction: column;
                row-gap: 0.2rem;
                padding: 0.5rem 1rem;
                border-radius: 0.3rem;
                border-style: solid;
                border-width: 0.1rem;
                div {
                    display: grid;
                    grid-template-columns: min-content auto;
                    gap: 0.4rem;
                    label {
                        font-weight: 500;
                    }
                    input {
                        font-size: 0.9rem;
                        padding: 0.1rem 0.3rem;
                        border-width: 0.1rem;
                        border-style: solid;
                        border-radius: 0.3rem;
                    }
                }
            }
            #contFooterNovoContato {
                display: flex;
                justify-content: space-between;
                padding: 0.5rem 1rem;
                border-radius: 0.3rem;
                border-style: solid;
                border-width: 0.1rem;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.9rem;
                    font-weight: 500;

                    height: auto;
                    width: 7rem;
                    padding: 0.3rem 0.5rem;
                    border-style: solid;
                    border-width: 0.1rem;
                    border-radius: 0.3rem;
                    
                    transition: 150ms;
                }
                button:focus {
                    text-decoration: underline;
                }
                #bttAddContato {
                    width: max-content;
                }
            }
        }
    }
}
#pageCliente {
    section {
        background-color: var(--salmao2);
        color: var(--marrom1);
        border-color: var(--marrom1);
    }
    #secInfos {
        input {
            background-color: var(--branco);
            color: var(--marrom1);
            border-color: var(--marrom1);
        }
        input:focus {
            outline-color: var(--marrom1);
            outline-width: 0.1rem;
            outline-style: solid;
        }
        #geral,
        #endereco,
        #fimAcao {
            border-color: var(--salmao1);
        }
        #endereco {
            #cep {
                button {
                    color: var(--salmao2);
                    border-color: var(--marrom1);
                    background-color: var(--marrom1);
                }
                button:hover {
                    background-color: var(--marrom2);
                }
                button:focus {
                    outline-color: var(--laranja);
                    border-color: var(--laranja);
                }
            }
        }
        #fimAcao {
            button {
                border-color: var(--marrom1);
            }
            #bttCancelar {
                background-color: #ecea57;
            }
            #bttCancelar:hover,
            #bttCancelar:focus {
                background-color: #fffc49;
            }
            #bttSalvar {
                background-color: #67fc80;
            }
            #bttSalvar:hover,
            #bttSalvar:focus {
                background-color: #37ff58;
            }
            #bttExcluir {
                background-color: #fc8c8c;
                
            }
            #bttExcluir:hover,
            #bttExcluir:hover {
                background-color: #ff6c6c;
                
            }
        }
    }
    #secContatos {
        #containerH2Novo {
            #bttNovoCtt {
                background-color: var(--marrom1);
                color: var(--salmao2);
                border-color: var(--marrom1);
            }
            #bttNovoCtt:hover {
                background-color: var(--marrom2);
            }
            #bttNovoCtt:focus {
                outline-color: var(--laranja)   ;
            }
        }
        #listContatos {
            .contato {
                background-color: var(--marrom1);
                color: var(--salmao2);
                .contContatoLeft {
                    h4 {
                        font-weight: 500;
                    }
                    p {
                        font-weight: 400;
                    }
                }
                .contContatoRight {
                    button {
                        background-color: var(--salmao1);
                        color: var(--marrom1);
                        border-color: var(--salmao1);
                    }
                    button:focus {
                        outline-color: var(--laranja);
                    }
                    button:hover {
                        background-color: var(--salmao2);
                    }
                    
                }
            }
        }
    }
    #secHistorico {
        #contListHistoricos {
            background-color: var(--branco);

            thead {
                background-color: var(--marrom1);
                color: var(--salmao2);
            }
            th, td {
                border-color: var(--marrom1);
            }
        }
    }
    .ant-pagination {
        .ant-pagination-item {
            background-color: var(--salmao1);
            border-color: var(--marrom1);
            a {
                color: var(--marrom1);
            }
        }
        .ant-pagination-item:hover {
            background-color: var(--salmao2);
        }
        .ant-pagination-item-active {
            border-color: var(--laranja);
            background-color: var(--marrom1);
            a {
            color: var(--salmao2);

            }
        }
        .ant-pagination-item-active:hover {
            background-color: var(--marrom2);
        }
    }
    #secNovoContato {
        #contHeadNovoContato {
            #closeModel svg {
                color: var(--marrom1);
            }
            #closeModel:hover {
                background-color: var(--salmao1);
            }
        }
        #contFormNovoContato {
            border-color: var(--salmao1);
            div {
                input {
                    background-color: var(--branco);
                    color: var(--marrom1);
                    border-color: var(--marrom1);
                }
                input:focus {
                    outline-color: var(--marrom1);
                    outline-width: 0.1rem;
                    outline-style: solid;
                }
            }
        }
        #contFooterNovoContato  {
            border-color: var(--salmao1);
            #bttCancelar {
                background-color: var(--salmao1);
            }
            #bttAddContato {
                color: var(--salmao2);
                border-color: var(--marrom1);
                background-color: var(--marrom1);
            }
            #bttCancelar:hover {
                background-color: var(--salmao2);
            }
            #bttAddContato:hover {
                background-color: var(--marrom2);
            }
            button:focus {
                border-color: var(--laranja);
            }
        }
    }
}
@media screen and (width <= 950px) {
    #pageCliente {
        main {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            gap: 0.5rem;
        }
    }
}
@media screen and (width <= 600px) {
    #pageCliente >
    main >
    #secInfos >
    #fimAcao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        button {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 0.95rem;
            font-weight: 500;
            

            height: 1.5rem;
            width: 80%;
            border-radius: 0.3rem;
            color: var(--marrom);

            transition: 150ms;
        }
        
        button:hover {
            width: 90%;
        }
    }
}