:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom1: #26110D;
    --marrom2: #3b1f17;
    --marrom3: #462b18;
    --preto: #000;
}

#pageClientes {
    #mainClientes {
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 100%;
        #secListClientes {
            display: flex;
            flex-direction: column;
            grid-area: sec1;
            max-width: 95%;
            max-height: 95%;
            background-color: var(--salmao2);
            padding: 1rem;
            padding-bottom: 0.5rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 0.4rem;
            box-sizing: border-box;

            #containerH2Novo {
                display: flex;
                justify-content: left;
                margin-bottom: 1rem;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.9rem;
                    font-weight: 500;

                    box-sizing: border-box;
                    width: auto;
                    height: 1.5rem;
                    padding: 0.1rem 2rem;
                    border: 0.1rem solid var(--marrom);
                    border-radius: 0.3rem;
                    color: var(--salmao2);
                    background-color: var(--marrom);

                    transition: 150ms;
                }

                button:hover {
                    background-color: var(--marrom2);
                }
            }

            #tabelaClientes {
                gap: 0;
                overflow-x: auto;
                border: 0.1rem solid;
                border-collapse: collapse;
                min-width: 100%;
                border-spacing: 0;
                /* TODO Add temas */
                background-color: var(--branco);
                border-color: var(--marrom);

                #cabecalho {
                    height: auto;

                    th {
                        text-align: center;
                        font-size: 1rem;
                        font-weight: 400;
                        padding: 0.1rem 0.5rem;


                        color: var(--salmao2);
                        background-color: var(--marrom1);
                    }

                }

                #listClientes {

                    .clientes {
                        height: auto;
                        border-top: 0.1rem solid var(--marrom);
                        background-color: var(--branco);
                        .nome,
                        .cnpj,
                        .endereco {
                            white-space: nowrap;
                            overflow: hidden;
                            font-size: 0.95rem; 
                            text-overflow: ellipsis;
                            text-align: center;

                            padding: 0.15rem 0.5rem;
                            border-right: 0.1rem solid var(--marrom);

                        }

                        .options {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            padding: 0.1rem 0.4rem;
                            height: 100%;
                            transition: 150ms;
                            svg {
                                height: 1.25rem;
                                width: 1.2rem;
                                margin: 0;
                            }
                        }

                        .options:hover {
                            background-color: var(--salmao1);

                        }

                        /* .options:hover {
                            background-color: var(--salmao1);
                        } */
                    }

                    .clientes:hover {
                        background-color: var(--salmao3);
                    }
                }

            }

            .paginacao {
                .ant-pagination {
                    .ant-pagination-item {
                        background-color: var(--salmao1);
                        border-color: var(--marrom1);

                        a {
                            color: var(--marrom1);
                        }
                    }

                    .ant-pagination-item:hover {
                        background-color: var(--salmao2);
                    }

                    .ant-pagination-item-active {
                        border-color: var(--laranja);
                        background-color: var(--marrom1);

                        a {
                            color: var(--salmao2);

                        }
                    }

                    .ant-pagination-item-active:hover {
                        background-color: var(--marrom2);
                    }
                }
            }
        }

        #sombra {
            display: none;
            position: fixed;
            background-color: #000000c0;
            width: 100%;
            height: 100%;
        }

        #janela {
            display: none;

            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 90;

            width: auto;
            height: auto;
            padding: 2rem;
            border: 0.1rem solid black;
            border-radius: 10px;
        }
    }

    #shadowBG {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: #000000da;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        #contNovoCliente {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 0.5rem;
            background-color: var(--salmao1);
            height: min-content;
            width: min-content;
            min-width: 20rem;

            h2 {
                font-size: 1.05rem;
                color: var(--marrom);
                margin: 0;
                margin-bottom: 1rem;
            }

            #nome,
            #cnpj {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: 500;
                    font-size: 0.95rem;
                }
            }

            #nome {
                margin-bottom: 0.5rem;
            }

            #msgNovoCliente {
                text-align: center;
                font-size: 0.9rem;

                padding: 0.1rem;
                border-radius: 0.3rem;
                margin: 0.2rem 0;

                background-color: var(--branco);
                color: rgb(151, 5, 5);
            }

            #contAcaoNovoCliente {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                button {
                    all: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.95rem;
                    font-weight: 500;


                    height: 1.5rem;
                    width: 8rem;
                    border: 0.1rem solid var(--marrom);
                    border-radius: 0.3rem;
                    color: var(--marrom);

                    transition: 150ms;
                }

                button:hover {
                    width: 11rem;

                }

                button:focus {
                    text-decoration: underline;
                    border: 0.1rem solid var(--laranja);
                }

                #bttCancelar {
                    background-color: #ecea57;
                }

                #bttSalvar {
                    background-color: #40ec5d;
                }

                #bttExcluir {
                    background-color: #fc8c8c;

                }
            }
        }
    }
}

@media screen and (width <=800px) {}