:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao: #F2AE72;
    --salmaoClaro: #f7cba4;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
}
#pageClientes {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #F2E8DF;
    box-sizing: border-box;
    #mainClientes {
        grid-area: main;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 100%;
        max-width: 900px;
        margin: 0 auto;

        background-color: var(--branco);
        #containerListClientes {
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 10px;
            margin-top: 1rem;

            background-color: var(--salmaoClaro);

            h2 {
                font-size: 1.1rem;
                color: var(--marrom);
                margin: 0;
                margin-bottom: 1.5rem;
                
            }
            #tabelaClientes {
                width: auto;
                #cabecalho {
                    display: none;
                    grid-template-columns: 2fr 1fr 1fr 1fr;

                    #cNome,
                    #cEndereco,
                    #cCNPJ {
                        border: 0.1rem solid var(--marrom);
                        border-bottom: 0;
                        text-align: center;

                        padding: 0.1rem 0.5rem;
                    }
                    #adicionarCliente {
                        text-align: center;

                        button {
                            
                        }
                    }
                }
                #listClientes {
                    display: flex;
                    flex-direction: column;
                    gap: 0.1rem;
                    .clientes {
                        display: grid;
                        grid-template-columns: 15rem auto 1fr 4rem;

                        font-size: 0.9rem;
                        height: auto;                   

                        border: 0.1rem solid var(--marrom);
                        border-radius: 0.2rem;
                        background-color: var(--branco);

                        div {
                            text-align: left;
                            
                        }
                        .nome,
                        .cnpj,
                        .endereco {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            
                            padding: 0 0.5rem;
                            border-right: 0.1rem solid var(--marrom);

                        }
                        .options {
                            cursor: pointer;
                            text-align: center;
                            font-weight: 500;
                            transition: 150ms;
                        }
                        .options:hover {
                            
                            color: var(--salmao);
                            background-color: var(--marrom);
                        }
                    }
                }
            }
        }
        #sombra {
            display: none;
            position: fixed;
            background-color: #000000c0;
            width: 100%;
            height: 100%;
        }
        #containerNovoCliente {
            display: none;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
            "title title title"
            "geral geral geral"
            "enderecos telefones emails"
            "concForm concForm concForm";
            column-gap: 0.5rem;
            row-gap: 1rem;

            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 90;

            width: auto;
            height: auto;
            padding: 2rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 10px;

            background-color: var(--salmaoClaro);

            h2 {
                grid-area: title;
                text-align: center;
                font-size: 1.3rem;
                margin: 0;
                margin-bottom: 0.5rem;
            }
            #geral {
                grid-area: geral;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                "nome cnpj";
                gap: 0.1rem;
                #nome {
                    grid-area: nome;
                    
                    label {
                        width: 30%;

                    }
                    input {
                        width: 70%;
                    }
                }
                #cnpj {
                    grid-area: cnpj;
                    label {
                        width: 30%;
                        text-align: center;
                    }
                    input {
                        width: 70%;
                    }
                }
            }
            #contEnderecos {
                grid-area: enderecos;
            }
            #contTelefones {
                grid-area: telefones;
            }
            #contEmails {
                grid-area: emails;
            }
            .contInfosNovoCliente {
                display: grid;
                width: 100%;
                grid-template-columns: 6fr 1fr 1fr;
                grid-template-rows: 1rem auto;
                grid-template-areas: 
                "title bttShow bttNovo"
                "inps inps inps";
                #title {
                    font-size: 1rem;
                    font-weight: 400;
                    margin: 0;
                    grid-area: title;
                }
                #bttShow {
                    grid-area: bttShow;
                }
                #bttNovo {
                    grid-area: bttNovo;
                }
                .inpsNovoCliente {
                    grid-area: inps;

                    
                }
            }
            #concForm {
                grid-area: concForm;
                display: flex;
                justify-content: center;
                gap: 1rem;
                button {
                    height: 2rem;
                    width: 8rem;
                    font-size: 1rem;
                }
            }
        }
    }
}
@media screen and (width <= 800px) {
    
}