:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
}

#pageCliente {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #F2E8DF;
    box-sizing: border-box;

    main {
        box-sizing: border-box;
        display: grid;
        grid-template-areas: 
        "sec1 sec3"
        "sec2 sec3";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr;
        padding: 1rem;
        gap: 0.5rem;
        section {
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 10px;

            background-color: var(--salmao2);
            
            h2 {
                font-size: 1.1rem;
                color: var(--marrom);
                margin: 0;
            }
        }
        #secInfos {
            grid-area: sec1;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            h2 {
                font-size: 1.1rem;
                color: var(--marrom);
                margin: 0;
                margin-bottom: 1.5rem;
            }
            input {
                padding: 0.1rem 0.3rem;
                border: 0.1rem solid var(--marrom);
                border-radius: 0.3rem;
                background-color: var(--branco);
            }
            input:focus {
                font-weight: 500;
            }
            #geral,
            #endereco,
            #fimAcao {
                border: 0.1rem solid var(--salmao1);
                border-radius: 0.3rem;
                padding: 0.5rem;
            }
            #geral {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                justify-content: left;
                padding: 0.5rem;
                box-sizing: border-box;
                div {
                    display: flex;
                    gap: 0.3rem;
                    input {
                        all: unset;
                        background-color: var(--branco);
                        border: 0.1rem solid var(--marrom);
                        border-radius: 0.2rem;
                        font-size: 0.85rem;
                        padding: 0.1rem 0.3rem;
                        height: 1.1rem;
                    }
                    input:focus {
                        border: 0.1rem solid var(--laranja);
                        font-weight: 500;
                    }
                }
                #nome {
                    input {
                        width: 15rem;
                    }
                }
                #cnpj {
                    input {
                        width: 7rem;
                    }
                }
            }
            #endereco {
                display: flex;
                flex-wrap: wrap;
                column-gap: 0.5rem;
                row-gap: 0.3rem;

                padding: 0.5rem;
                div {
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                    label {
                        font-size: 0.95rem;
                    }
                    input {
                        all: unset;
                        background-color: var(--branco);
                        border: 0.1rem solid var(--marrom);
                        border-radius: 0.2rem;
                        font-size: 0.85rem;
                        padding: 0.1rem 0.3rem;
                        height: 1.1rem;
                    }
                    input:focus {
                        border: 0.1rem solid var(--laranja);
                        font-weight: 500;
                    }
                }
                #cep {
                    grid-area: cep;
                    width: 100%;
                    input {
                        width: 6rem;
                    }
                    p {
                        margin: 0;
                        color: #a50000;
                    }
                }
                #rua {
                    grid-area: rua;
                }
                #num {
                    grid-area: num;
                    input {
                        width: 3rem;
                    }
                }
                #complemento {
                    grid-area: com;
                }
                #bairro {
                    grid-area: bairro;
                }
                #cidade {
                    grid-area: cidade;
                }
                #uf {
                    input {
                        width: 2rem;
                    }
                }
            }
            #fimAcao {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                button {
                    all: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.95rem;
                    font-weight: 500;
                    

                    height: 1.5rem;
                    width: 8rem;
                    border: 0.1rem solid var(--marrom);
                    border-radius: 0.3rem;
                    color: var(--marrom);

                    transition: 150ms;
                }
                
                button:hover {
                    width: 11rem;
                }
                button:focus {
                    text-decoration: underline;
                    border: 0.1rem solid var(--laranja);
                }
                #bttCancelar {
                    background-color: #ecea57;
                }
                #bttSalvar {
                    background-color: #40ec5d;
                }
                #bttExcluir {
                    background-color: #fc8c8c;
                    
                }
            }
        }
        #secContatos {
            grid-area: sec2;
            #containerH2Novo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                margin-bottom: 1.5rem;

                #bttNovoCtt  {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;
                    font-weight: 500;
                    height: 1.5rem;
                    width: 6rem;
                    border: none;
                    border-radius: 0.2rem;
                    color: var(--branco);
                    background-color: var(--marrom);

                }
                #bttNovoCtt:hover {
                    opacity: 0.9;
                }
            }
            #listContatos {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;

                .contato {
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    .contatoHeader {
                        all: unset;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 1rem;
                        font-size: 0.9rem;
                        font-weight: 500;

                        padding: 0.2rem 0.5rem;
                        color: var(--salmao2);
                        background-color: var(--marrom);

                        .divLeftContato {
                            display: flex;
                            align-items: center;
                            gap: 0.3rem;
                            
                            img {
                                cursor: pointer;
                                width: 1.7rem;
                            }
                            .nome {
                            }
                        } 
                        .bttsContato {
                            display: flex;
                            gap: 0.5rem;
                            button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                font-size: 0.9rem;
                                font-weight: 600;

                                box-sizing: border-box;
                                width: auto;
                                height: auto;
                                padding: 0.15rem 1rem;
                                border: 0;
                                border-radius: 0.3rem;
                                color: var(--marrom1);
                                background-color: var(--salmao1);

                                transition: 150ms;
                            }
                            button:hover {
                                background-color: var(--salmao3);
                            }
                        }
                    }
                    .contatoBody {
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: 
                        "descricao descricao"
                        "telefone email"
                        ;
                        text-align: center;
                        background-color: var(--salmao3);
                        padding: 0.3rem 0.3rem;
                        border: 0.1rem solid var(--marrom);
                        border-top: 0;
                        font-size: 0.9rem;
                        .contatoTelefone {
                            grid-area: telefone;
                        }
                        .contatoEmail {
                            grid-area: email;
                        }
                        .contatoDescricao {
                            grid-area: descricao;
                        }
                    }
                }
                .fechado {
                    .contatoHeader {
                        border-radius: 0.5rem;
                    }
                    .contatoBody {
                        display: none;
                    }
                }
                .aberto {
                    .contatoHeader {
                        border-radius: 0.5rem 0.5rem 0 0;
                    }
                    .contatoBody {
                        display: grid;
                        border-radius: 0 0 0.5rem 0.5rem;
                    }
                }
            }
        }
        #secHistorico {
            grid-area: sec3;
        }
    }
    #shadowBG {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: #000000da;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        #secNovoCliente {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 10px;
            background-color: var(--salmao2);
            h2 {
                font-size: 1.1rem;
                color: var(--marrom);
                margin: 0;
                margin-bottom: 1.5rem;
            }
        }
    }
}