:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
    --leftBttNav: 5rem;
}
#pageEspecialidades {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #F2E8DF;
    box-sizing: border-box;

    main {
        box-sizing: border-box;
        display: grid;
        grid-template-areas: 
        "sec1";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 1rem;
        gap: 0.5rem;
        section {
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 10px;

            background-color: var(--salmao2);
            
            h2 {
                font-size: 1rem;
                color: var(--marrom);
                margin: 0;
            }
        }
        #sec1 {
            grid-area: sec1;

            #contH2Novo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 1.5rem;
                margin-bottom: 1.5rem;
                #contNovo {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;
                    gap: 1rem;
                    display: flex;
                    button {
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        text-align: center;
                        font-size: 0.9rem;
                        font-weight: 600;

                        box-sizing: border-box;
                        width: 10rem;
                        height: 1.5rem;
                        border: 0.1rem solid var(--marrom);
                        border-radius: 0.3rem;
                        color: var(--salmao3);
                        background-color: var(--marrom);

                        transition: 150ms;

                        #goToEspecialidades {
                            all: unset;
                        }
                    }
                    button:hover {
                        width: 11rem;
                        height: 1.6rem;
                    }
                }
            }
            #titulo {
                display: flex;
                flex-direction: column;
                #tExibir {
                    display: flex;
                    p {
                        margin: 0;
                    }
                }
                #tOrdenar {
                    display: flex;
                    p {
                        margin: 0;
                    }
                }
            }
            #contListEspecs {
                display: flex;
                flex-wrap: wrap;
                .especs {
                    .headEspec {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        gap: 2rem;
                        font-size: 0.9rem;
                        font-weight: 500;
                        height: 1.7rem;
                        padding: 0.2rem 1rem;
                        color: var(--salmao1);
                        background-color: var(--marrom);
                        p {
                            margin: 0;
                        }
                        .nomeEspec {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0.1rem 0.5rem;
                            border: 0.15rem solid;
                            border-radius: 0.3rem;
                            
                        }
                    }
                    .servsEspec {
                        display: flex;
                        flex-direction: column;
                        gap: 0.3rem;

                        padding: 0.5rem 1rem;
                        border: 0.1rem solid var(--marrom);
                        background-color: var(--salmao3);
                        p {
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            
                            font-size: 0.95rem;
                            height: 1rem;
                            margin: 0;
                            color: var(--marrom);
                        }
                        
                    }
                }
                .especAberto {
                    .headEspec {
                        border-radius: 0.4rem 0.4rem 0 0;
                    }
                    .servsEspec {
                        display: flex;
                        border-radius: 0 0 0.4rem 0.4rem;
                    }
                }
                .especFechado {
                    .headEspec {
                        border-radius: 0.4rem;
                    }
                    .servsEspec {
                        display: none;
                    }
                }
            }
        }#sec2 {
            grid-area: sec2;
            display: none;
            #contInfosEspecEdit {

            }
            #contServicosEspecEdit {
                #headServicos {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                #listServicosEdit {
                    display: flex;
                    flex-direction: column;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
@media screen and (width <= 950px) {
    #pageEspecialidades{
        main {
            grid-template-areas: 
            "sec1"
            "sec2";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}