:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
    --leftBttNav: 5rem;
}
#pageEspecialidades {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #F2E8DF;
    box-sizing: border-box;

    main {
        box-sizing: border-box;
        display: grid;
        grid-template-areas: 
        "sec1";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0.5rem;
        section {
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 10px;

            background-color: var(--salmao2);
            
            h2 {
                font-size: 1rem;
                color: var(--marrom);
                margin: 0;
            }
        }
        #sec1 {
            grid-area: sec1;
            width: 100%;
            max-width: 900px;
            margin: 1rem auto;
            #contH2Novo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 1.5rem;
                margin-bottom: 1.5rem;
                #contNovo {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;
                    gap: 1rem;
                    display: flex;
                    button {
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        text-align: center;
                        font-size: 0.9rem;
                        font-weight: 600;

                        box-sizing: border-box;
                        width: 10rem;
                        height: 1.5rem;
                        border: 0.1rem solid var(--marrom);
                        border-radius: 0.3rem;
                        color: var(--salmao3);
                        background-color: var(--marrom);

                        transition: 150ms;

                        #goToEspecialidades {
                            all: unset;
                        }
                    }
                    button:hover {
                        width: 11rem;
                        height: 1.6rem;
                    }
                }
            }
            #titulo {
                display: flex;
                flex-direction: column;
                #tExibir {
                    display: flex;
                    p {
                        margin: 0;
                    }
                }
                #tOrdenar {
                    display: flex;
                    p {
                        margin: 0;
                    }
                }
            }
            #contListEspecs {
                display: flex;
                flex-wrap: wrap;
                column-gap: 0.5rem;
                .especs {
                    box-shadow: 0px 2px 15px black;
                    .headEspec {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        gap: 2rem;
                        font-size: 0.9rem;
                        font-weight: 500;
                        height: 1.7rem;
                        padding: 0.2rem 0.5rem;
                        color: var(--salmao1);
                        background-color: var(--marrom);
                        p {
                            margin: 0;
                        }
                        .nomeEspec {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0.1rem 0.5rem;
                            border: 0.15rem solid;
                            border-radius: 0.3rem;
                            
                        }
                    }
                    .servsEspec {
                        display: flex;
                        flex-direction: column;
                        gap: 0.3rem;

                        padding: 0.5rem 1rem;
                        border: 0.1rem solid var(--marrom);
                        background-color: var(--salmao3);
                        p {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            
                            font-size: 0.95rem;
                            height: 1rem;
                            margin: 0;
                            color: var(--marrom);
                        }
                        p:hover {
                            font-weight: 500;
                        }
                    }
                }
                .especAberto {
                    .headEspec {
                        border-radius: 0.4rem 0.4rem 0 0;
                    }
                    .servsEspec {
                        display: flex;
                        border-radius: 0 0 0.4rem 0.4rem;
                    }
                }
                .especFechado {
                    .headEspec {
                        border-radius: 0.4rem;
                    }
                    .servsEspec {
                        display: none;
                    }
                }
            }
        }
        #shadowBG {
            display: none;
            position: fixed;
            background-color: #000000da;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            #secConfigEspec {
                grid-area: sec2;
                display: flex;
                flex-direction: column;
                margin: 1rem auto;
                width: 30rem;
                row-gap: 0.2rem;
                h2 {
                    margin-bottom: 0.8rem;
                }
                #contInfosEspecEdit {
                    font-size: 0.92rem;
                    border: 0.1rem solid;
                    border-color: var(--salmao1);
                    border-radius: 0.2rem;
                    padding: 0.5rem;
                    .campoConfigEspec {
                        display: flex;
                        align-items: center;
                        gap: 0.4rem;
                        margin-bottom: 0.3rem;
                        label {
                            font-weight: 500;
                        }
                        input[type="color"] {
                            width: 2rem;
                            padding: 0;
                            border-radius: 0.3rem;
                            border: 0;
                            
                        }
                    }
                    #contPreVisu {
                        #headPreVisu {
                            display: flex;
                            justify-content: space-between;
                            p {
                                margin: 0;
                            }
                            button {

                            }
                        }
                        #preVisu {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            width: 100%;
                            height: 3rem;
                            #especPreVisu {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: 500;
                                padding: 0.1rem 0.5rem;
                                border: 0.15rem solid;
                                border-radius: 0.4rem;
                                border-color: #F2E8DF;
                                color: #F2E8DF;
                                background-color: #cf0f0f;
                            }
                        }
                        .preVisuDark {
                            background-color: var(--marrom);
                        }
                        .preVisuLight {
                            background-color: var(--branco);
                        }
                    }
                }
                #contServicosEspecEdit {
                    border: 0.1rem solid;
                    border-color: var(--salmao1);
                    border-radius: 0.2rem;
                    padding: 0.5rem;
                    #headServicos {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 0.5rem;
                        p {
                            margin: 0;
                        }
                    }
                    #listServicosEdit {
                        display: flex;
                        flex-direction: column;
                        background-color: var(--salmao1);
                        padding: 0.2rem 0.9rem;
                        max-height: 5rem;
                        overflow-y: scroll;
                        p {
                            margin: 0;
                        }
                    }
                }
                #contFimAcao {
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                    border: 0.1rem solid;
                    border-color: var(--salmao1);
                    border-radius: 0.2rem;
                    padding: 0.5rem;
                }
            }
        }
    }
}
@media screen and (width <= 950px) {
    #pageEspecialidades{
        main {
            grid-template-areas: 
            "sec1"
            "sec2";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}