:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom1: #26110D;
    --marrom2: #3b1f17;
    --marrom3: #462b18;
    --preto: #000;
}
#pageEspecialidades {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--branco);
    box-sizing: border-box;

    
    main {
        box-sizing: border-box;
        display: grid;
        
        gap: 0.5rem;
        padding: 1rem;
        section {
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 10px;

            background-color: var(--salmao2);
            
            h2 {
                font-size: 1rem;
                color: var(--marrom);
                margin: 0;
            }
        }
        #sec1 {
            grid-area: sec1;
            #contNovo {
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 1rem;
                margin-bottom: 1rem;
                button {
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    text-align: center;
                    font-size: 0.9rem;
                    font-weight: 600;

                    box-sizing: border-box;
                    width: 10rem;
                    height: 1.5rem;
                    border: 0.1rem solid var(--marrom);
                    border-radius: 0.3rem;
                    color: var(--salmao3);
                    background-color: var(--marrom);

                    transition: 150ms;

                    #goToEspecialidades {
                        all: unset;
                    }
                }
                button:hover {
                    width: 11rem;
                    height: 1.6rem;
                }
            }
            #contFiltrosEspecServ {
                display: flex;
                justify-content: space-between;
                padding: 0.3rem 0.5rem;
                border-radius: 0.3rem 0.3rem 0 0;
                color: var(--salmao1);
                background-color: var(--marrom);
                #orderFiltrosEspecServ {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.3rem;
                    p {
                        font-size: 0.9rem;
                        font-weight: 500;
                        margin: 0;
                    }
                    button {
                        all: unset;
                        cursor: pointer;
                        font-size: 0.9rem;
                        font-weight: 600;
                        
                        padding: 0.1rem 1rem;
                        border-radius: 0.3rem;
                        background-color: var(--salmao2);
                        color: var(--marrom1);
                    }
                    button:hover {
                        background-color: var(--salmao3);
                    }
                }
                #groupFiltrosEspecServ {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.3rem;
                    p {
                        font-size: 0.9rem;
                        font-weight: 500;
                        margin: 0;
                    }
                    button {
                        all: unset;
                        cursor: pointer;
                        font-size: 0.9rem;
                        font-weight: 600;
                        
                        padding: 0.1rem 1rem;
                        border-radius: 0.3rem;
                        
                        background-color: var(--salmao2);
                        color: var(--marrom);
                    }
                    button:hover {
                        background-color: var(--salmao3);
                    }
                }
            }
            #contListEspecServ {
                display: flex;
                column-gap: 0.3rem;
                row-gap: 0.3rem;
                padding: 0.3rem 0.5rem;
                border: 0.1rem solid var(--marrom);
                border-radius: 0 0 0.3rem 0.3rem;

                background-color: var(--salmao1);
            }
            .layoutEspecs {
                display: flex;
                
                justify-content: center;
                flex-wrap: wrap;

                .especs {
                    font-size: 0.9rem;
                    font-weight: 500;
                    flex-grow: 1;
                    flex-basis: 20rem;
                }
            }
            .layoutServicos {
                display: flex;
                flex-wrap: wrap;
                /* grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr)); */
                overflow-y: scroll;
                max-height: 67vh;
                
                .servicos {
                    flex-grow: 1;
                    flex-basis: 40%;
                    cursor: pointer;
                    padding: 0.3rem;
                    border: 0.1rem solid var(--marrom);
                    border-radius: 0.3rem;
                    background-color: var(--salmao2);
                    h4 {
                        font-size: 0.9rem;
                        margin: 0;
                        margin-bottom: 0.2rem;
                    }
                    p {
                        font-size: 0.8rem;
                        font-style: italic;
                        margin: 0;
                    }
                }
                .servicos:hover {
                    background-color: var(--salmao3);
                }
            }
        }
        #secConfigEspec {
            display: flex;
            grid-area: sec2;
            flex-direction: column; 
            row-gap: 0.2rem;
            h2 {
                margin-bottom: 0.8rem;
            }
            #contInfosEspecEdit {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                font-size: 0.92rem;
                border: 0.1rem solid;
                border-color: var(--salmao1);
                border-radius: 0.2rem;
                padding: 0.5rem;

                #campoNomeConfigEspec {
                    display: grid;
                    grid-template-columns: 3rem  auto;
                    grid-template-rows: 1fr;
                    gap: 0.4rem;
                    label {
                        font-size: 0.95rem;
                        font-weight: 500;
                    }
                }
                #campoDescricaoConfigEspec {
                    display: grid;
                    grid-template-columns: 4.5rem auto;
                    grid-template-rows: 1fr;
                    gap: 0.4rem;
                    label {
                        font-size: 0.95rem;
                        font-weight: 500;
                    }

                }
                #contCamposCoresEspecEdit {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 0.4rem;
                        label {
                            font-weight: 500;
                        }
                        .inputsCamposCoresConfigEspec {
                            width: auto;

                            input[type="text"] {
                                height: 1rem;
                                max-width: 5rem;
                            }
                            input[type="color"] {
                                padding: 0;
                                border-radius: 0.3rem;
                                border: 0;
                                height: 1.5rem;
                                max-width: 2rem;
                                
                            }
                        }
                    }
                }
                #contPreVisu {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                    margin-top: 0.5rem;
                    #headPreVisu {
                        display: flex;
                        justify-content: space-between;
                        p {
                            margin: 0;
                        }
                        button {
                            all: unset;
                            cursor: pointer;
                            font-size: 0.9rem;
                            font-weight: 600;
                            
                            padding: 0.1rem 1rem;
                            border-radius: 0.3rem;
                            
                            background-color: var(--marrom1);
                            color: var(--salmao2);
                        }
                        button:hover {
                            background-color: var(--marrom2);
                        }
                    }
                    #preVisu {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        width: 100%;
                        height: auto;
                        border: 0.1rem solid var(--marrom);
                        border-radius: 0.3rem;
                        padding: 0.5rem;
                        box-sizing: border-box;

                        #especPreVisu {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 500;
                            padding: 0.1rem 0.5rem;
                            border: 0.15rem solid;
                            border-radius: 0.4rem;
                            max-width: 9rem;
                            overflow: hidden;
                        }
                    }
                    .preVisuDark {
                        background-color: var(--marrom);
                    }
                    .preVisuLight {
                        background-color: var(--salmao3);
                    }
                }
            }
            #contServicosEspecEdit {
                border: 0.1rem solid;
                border-color: var(--salmao1);
                border-radius: 0.2rem;
                padding: 0.5rem;
                h3 {
                    margin: 0;
                    font-size: 1rem;
                }
                #secAddServicoEspecEdit {
                    display: grid;
                    grid-template-columns: 1fr 5rem;
                    gap: 0.2rem;
                    
                }
                #listServicosEditEspecEdit {
                    display: flex;
                    flex-direction: column;
                    background-color: var(--salmao1);
                    padding: 0.2rem 0.3rem;
                    max-height: 20rem;
                    overflow-y: scroll;
                    row-gap: 0.2rem;
                    .itemListServicoEditEspecEdit {
                        display: grid;
                        grid-template-columns: auto 1.5rem;
                        grid-template-rows: 1.5rem;
                        align-items: center;
                        
                        padding: 0.15rem;
                        border: 0.1rem solid var(--marrom);
                        border-radius: 0.3rem;

                        p {
                            font-size: 0.9rem;
                            overflow-x: hidden;
                            margin: 0;
                        }
                        button {
                            height: 1.5rem;
                            width: 1.5rem;
                        }
                    }
                }
            }
            #contFimAcao {
                display: flex;
                justify-content: center;
                gap: 1rem;
                border: 0.1rem solid;
                border-color: var(--salmao1);
                border-radius: 0.2rem;
                padding: 0.5rem;
                button {
                    all: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.95rem;
                    font-weight: 500;
                    

                    height: 1.5rem;
                    width: auto;
                    border: 0.1rem solid var(--marrom);
                    border-radius: 0.3rem;
                    padding: 0.1rem 1rem;
                    color: var(--marrom);

                    transition: 100ms;
                }
                
                button:hover {
                    padding: 0.1rem 1.5rem;
                }
                button:focus {
                    text-decoration: underline;
                    border: 0.1rem solid var(--laranja);
                }
                #bttCancelar {
                    background-color: #ecea57;
                }
                #bttSalvar {
                    background-color: #40ec5d;
                }
                #bttExcluir {
                    background-color: #fc8c8c;
                    
                }
            }
        }
        #secConfigServico {
            grid-area: sec2;
            display: flex;
            flex-direction: column;
            #contDadosConfigServ{
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 0.5rem;
                border: 0.1rem solid;
                border-color: var(--salmao1);
                border-radius: 0.2rem;
                padding: 0.5rem;
                
                div {
                    display: grid;
                    grid-template-columns: min-content auto;
                    gap: 0.3rem;
                }
                #descricaoDadosConfigServ {
                    textarea {
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        width: auto;
                    }
                }
            }
            #contEspecsConfigServ {
                display: flex;
                flex-direction: column;
                border: 0.1rem solid;
                border-color: var(--salmao1);
                border-radius: 0.2rem;
                padding: 0.5rem;
                gap: 0.3rem;
                #contAddEspecFunc {
                    display: grid;
                    grid-template-columns: 1fr min-content;
                    gap: 0.3rem;
                }
                #contListEspecFunc {
                    display: flex;
                    flex-direction: column;
                    gap: 0.15rem;
                    .skillsServ {
                        display: grid;
                        grid-template-columns: 1fr 1.5rem;
                        align-items: center;
                        padding: 0.2rem 0.5rem;
                        border-radius: 0.2rem;
                        p {
                            font-size: 0.85rem;
                            margin: 0;
                        }
                        img {
                            visibility: hidden;
                            cursor: pointer;
                            
                        }
                    }
                    .skillsServ:hover {
                        img {
                            transition: 0.3s;
                            visibility: visible;
                        }
                    }
                }
            }
            #contAcaoConfigServ {
                display: flex;
                justify-content: center;
                gap: 1rem;
                border: 0.1rem solid;
                border-color: var(--salmao1);
                border-radius: 0.2rem;
                padding: 0.5rem;
                button {
                    all: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.95rem;
                    font-weight: 500;
                    

                    height: 1.5rem;
                    width: auto;
                    border: 0.1rem solid var(--marrom);
                    border-radius: 0.3rem;
                    padding: 0.1rem 1rem;
                    color: var(--marrom);

                    transition: 100ms;
                }
                
                button:hover {
                    padding: 0.1rem 1.5rem;
                }
                button:focus {
                    text-decoration: underline;
                    border: 0.1rem solid var(--laranja);
                }
                #bttCancelar {
                    background-color: #ecea57;
                }
                #bttSalvar {
                    background-color: #40ec5d;
                }
                #bttExcluir {
                    background-color: #fc8c8c;
                    
                }
            }
        }
    }
    .secConfigFechada {
        grid-template-areas: 
        "sec1";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        
    }
    .secConfigAberta {
        grid-template-areas: 
        "sec1 sec2";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;

    }
    #shadowBG {
        display: none;
        position: fixed;
        background-color: #000000da;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

    }
}
@media screen and (width <= 950px) {
    #pageEspecialidades{
        main {
            grid-template-areas: 
            "sec1"
            "sec2";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}