:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
}
.checkbox {
    all: unset;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    margin: 0;
    border: 0.1rem solid var(--marrom);
    border-radius: 50%;

    background-color: var(--branco);
}
.checkbox:checked {
    background-color: var(--laranja);
}
#pageFuncionarios {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #F2E8DF;
    box-sizing: border-box;
    
    #mainFuncionarios {
        display: flex;
        width: 100%;
        grid-area: main;
        box-sizing: border-box;
        padding: 1rem 2rem;

        #secList {
            grid-area: sec1;
            width: 100%;
            background-color: var(--salmao2);
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 0.4rem;
            box-sizing: border-box;
            h2 {
                font-size: 1.1rem;
                color: var(--marrom);
                margin: 0;
                
            }
            #containerH2Criar {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 2rem;
                margin-bottom: 1.5rem;
                #contEspecsNovoFunc {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    gap: 1rem;
                    
                    .btt {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        text-align: center;
                        font-size: 0.9rem;
                        font-weight: 600;

                        box-sizing: border-box;
                        width: 10rem;
                        height: 1.5rem;
                        border: 0.1rem solid var(--marrom);
                        border-radius: 0.3rem;
                        color: var(--salmao3);
                        background-color: var(--marrom);

                        transition: 150ms;

                        #goToEspecialidades {
                            all: unset;
                        }
                    }
                    .btt:hover {
                        width: 11rem;
                        height: 1.6rem;
                    }
                }
            }
            #titleList {
                display: grid;
                grid-template-columns: 2fr 1fr 2fr 1fr 1fr 5rem 5rem;
                height: 1.6rem;
                background-color: var(--marrom);
                div {
                    height: auto;
                    font-size: 1rem;
                    padding: 0.1rem 0.5rem;
                    text-align: center;
                    color: var(--salmao2);

                    padding: 0.1rem 0.5rem;
                }
            }
            #listFuncs {
                // TODO rolagem lateral ao quebrar a tabela
                display: flex;
                flex-direction: column;
                background-color: var(--branco);

                overflow-y: scroll;
                box-sizing: border-box;
                max-height: 69vh;
                
                border: 0.1rem solid var(--marrom);
                border-top: 0;
                .funcs {
                    border-top: 0.1rem solid var(--marrom);
                    .cardFunc {
                        display: grid;
                        grid-template-columns: minmax(10rem, 1.5fr) 1fr 1fr 2fr  1fr minmax(1.5rem, 3rem) minmax(1.2rem, 3rem);
                        grid-template-areas: 
                        "nome cell ultAtv cargo status setaSkillsFunc options";

                        box-sizing: border-box;
                        padding: 0.2rem 0;
                        

                        text-align: center;
                        font-size: 0.95rem;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .nomeFunc {
                            grid-area: nome;
                            display: flex;
                            height: 1.5rem;
                            max-height: 2rem;
                            overflow: hidden;
                            overflow-x: hidden;
                        }
                        .cellFunc {
                            grid-area: cell;
                            display: flex;
                            height: 1.5rem;
                            align-items: self-start;
                            max-height: 2.5rem;
                            overflow: hidden;
                        }
                        .ultAtvFunc {
                            grid-area: ultAtv;
                            overflow-y: hidden;
                            max-height: 1.5rem;
                            text-overflow: clip;
                        }
                        .cargoFunc {
                            grid-area: cargo;
                            overflow-wrap: break-word;
                            overflow-y: hidden;
                            max-height: 2rem;
                        }
                        .statusFunc {
                            grid-area: status;
                        }
                        .setaSkillsFunc {
                            grid-area: setaSkillsFunc;
                            cursor: pointer;
                            border-left: 0.1rem solid var(--marrom);
                            img {
                                height: 1.5rem;
                            }
                        }
                        .editFunc {
                            grid-area: options;
                            cursor: pointer;
                            border-left: 0.1rem solid var(--marrom);
                            img {
                                height: 1.2rem;
                            }
                        }
                    }
                    .containerSkillsFunc {
                        justify-content: center;
                        gap: 1rem;
                        padding: 0 0.1rem 0.3rem 0.1rem;
                        .skillsFunc {
                            font-size: 0.8rem;
                            font-weight: 500;
                            color: var(--branco);

                            border: 0.1rem solid black;
                            border-radius: 5px;
                            padding: 0.15rem 0.5rem;
                        }
                        .skill1 {
                            background-color: #e25353;
                        }   
                        .skill2 {
                            background-color: #063504;
                        }
                        .skill3 {
                            background-color: #610404;
                        }
                        .skill4 {
                            background-color: #090785;
                        }
                    }
                    .skillsAberto {
                        display: flex;
                    }
                    .skillsFechado {
                        display: none;
                    }
                }
            }
        }
    }
}
@media screen and (width <= 1000px) {
    #pageFuncionarios >
    #mainFuncionarios {
        padding: 1rem 0.5rem;
    }
}