:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao: #F2AE72;
    --salmaoClaro: #f7cba4;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
    --leftBttNav: 5rem;
}
#pageFuncionarios {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #F2E8DF;
    box-sizing: border-box;
    
    #mainFuncionarios {
        display: grid;
        grid-area: main;
        box-sizing: border-box;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "sec2 sec1 sec3"
        "sec2 sec1 sec4";
        gap: 1rem;
        padding: 1rem 2rem;
        section {
            border: 0.1rem solid var(--marrom);
        }
        #sec1 {
            grid-area: sec1;
            #titleList {
                display: grid;
                grid-template-columns: 2rem 2fr 2fr 1fr 1fr;
                
            }
            #listFuncs {
                .funcs {
                    display: grid;
                    grid-template-columns: 2rem 2fr 2fr 1fr 1fr;
                    grid-template-areas: 
                    "checks nome cell cargo status"
                    "skills skills skills skills skills";

                    .containerSelectFunc {
                        grid-area: checks;
                        display: flex;
                        align-items: center;    
                        justify-content: center;
                    }
                    .nomeFunc {
                        grid-area: nome;
                    }
                    .cellFunc {
                        grid-area: cell;
                    }
                    .cargoFunc {
                        grid-area: cargo;
                    }
                    .statusFunc {
                        grid-area: status;
                    }
                    .containerSkillsFunc {
                        grid-area: skills;

                        display: flex;
                        justify-content: center;
                        gap: 0.5rem;
                        .skillsFunc {
                            border: 0.1rem solid black;
                            border-radius: 5px;
                            padding: 0.1rem 0.5rem;
                        }
                    }
                }
            }
        }
        #sec2 {
            grid-area: sec2;
        }
        #sec3 {
            grid-area: sec3;
        }
        #sec4 {
            grid-area: sec4;
        }
    }
}
@media screen and (width <= 550px) {
    
}