:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
}
.checkbox {
    all: unset;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    margin: 0;
    border: 0.1rem solid var(--marrom);
    border-radius: 50%;

    background-color: var(--branco);
}
.checkbox:checked {
    background-color: var(--laranja);
}
#pageFuncionarios {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem calc(100vh - 3rem);
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #F2E8DF;
    box-sizing: border-box;
    
    #mainFuncionarios {
        display: flex;
        width: 100%;
        grid-area: main;
        box-sizing: border-box;
        padding: 1rem;

        #secList {
            grid-area: sec1;
            width: 100%;
            background-color: var(--salmao2);
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 0.4rem;
            box-sizing: border-box;
            #contEspecsNovoFunc {
                display: flex;
                align-items: center;
                height: auto;
                gap: 1rem;
                margin-bottom: 1.5rem;
                .btt {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    text-align: center;
                    font-size: 0.9rem;
                    font-weight: 600;

                    box-sizing: border-box;
                    width: auto;
                    height: auto;
                    padding: 0.2rem 1rem;
                    border: 0.1rem solid var(--marrom);
                    border-radius: 0.3rem;
                    color: var(--salmao2);
                    background-color: var(--marrom);

                    transition: 150ms;

                    #goToEspecialidades {
                        all: unset;
                    }
                }
                .btt:hover {
                    padding: 0.2rem 2rem;
                }
            }
            #titleList {
                display: grid;
                grid-template-columns: minmax(10rem, 3fr) minmax(7rem, 3fr) minmax(10rem, 3fr) minmax(5rem, 2fr) minmax(7rem, 3fr) 3rem 3rem;
                background-color: var(--marrom);
                padding: 0.2rem 0;
                padding-right: 1.1rem;
                div {
                    height: auto;
                    font-size: 1rem;
                    text-align: center;
                    color: var(--salmao2);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            #listFuncs {
                display: flex;
                flex-direction: column;
                
                background-color: var(--branco);

                overflow-y: scroll;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                box-sizing: border-box;
                max-height: 69vh;
                
                border: 0.1rem solid var(--marrom);
                border-top: 0;
                white-space: nowrap;
                .funcs {
                    border-top: 0.1rem solid var(--marrom);
                    .cardFunc {
                        display: grid;
                        grid-template-columns: minmax(10rem, 3fr) minmax(7rem, 3fr) minmax(10rem, 3fr) minmax(5rem, 2fr) minmax(7rem, 3fr) 3rem 3rem;
                        grid-template-areas: 
                        "nome cell ultAtv cargo status setaSkillsFunc options";

                        /* min-width: 35rem; */
                        box-sizing: border-box;
                        padding: 0.1rem 0;
                        

                        text-align: center;
                        font-size: 0.95rem;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .nomeFunc {
                            grid-area: nome;
                            display: flex;
                            height: 1.5rem;
                            max-height: 2rem;
                        }
                        .cellFunc {
                            grid-area: cell;
                            display: flex;
                            height: 1.5rem;
                            align-items: self-start;
                            max-height: 2.5rem;
                        }
                        .ultAtvFunc {
                            grid-area: ultAtv;
                            overflow-y: hidden;
                            max-height: 1.5rem;
                        }
                        .cargoFunc {
                            grid-area: cargo;
                            max-height: 2rem;
                        }
                        .statusFunc {
                            grid-area: status;
                        }
                        .setaSkillsFunc {
                            grid-area: setaSkillsFunc;
                            cursor: pointer;
                            border-left: 0.1rem solid var(--marrom);
                            img {
                                height: 1.5rem;
                            }
                        }
                        .editFunc {
                            grid-area: options;
                            cursor: pointer;
                            border-left: 0.1rem solid var(--marrom);
                            img {
                                height: 1.2rem;
                            }
                        }
                    }
                    .containerSkillsFunc {
                        justify-content: center;
                        gap: 1rem;
                        padding: 0 0.1rem 0.3rem 0.1rem;
                        box-sizing: border-box;
                        .skillsFunc {
                            font-size: 0.8rem;
                            font-weight: 500;
                            color: var(--branco);
                            
                            border: 0.1rem solid black;
                            border-radius: 5px;
                            padding: 0.15rem 0.5rem;
                        }
                    }
                    .skillsAberto {
                        display: flex;
                        animation: loop 5s linear infinite; 
                    }
                    .skillsFechado {
                        display: none;
                    }
                    @keyframes loop {
                        0% {
                            transform: translateX(1%);
                        }
                        100% {
                            transform: translate(50%);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (width <= 1024px) {
    #pageFuncionarios >
    #mainFuncionarios {
        padding: 0.5rem;
        /* #secList {
            #listFuncs {
                overflow: scroll;
            }
        } */
    }
}
@media screen and (width <= 600px) {
    #pageFuncionarios >
    #mainFuncionarios {
        padding: 0.1rem;
        #secList {
            #contEspecsNovoFunc {
                flex-direction: column;
                gap: 0.2rem;
                margin-bottom: 0.5rem;
                .btt:hover {
                    padding: 0.2rem 1rem;
                }
            }
            
        }
    }
}