:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
}
#pageHome {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #F2E8DF;
    box-sizing: border-box;
    #mainHome {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
        grid-template-areas: 
        "ordensSendoAtendidas tecDisponiveis";
        gap: 1rem;
        align-items: start;
        grid-area: main;
        width: 100%;
        padding: 1rem;
        margin: 0 auto;
        box-sizing: border-box;

        background-color: var(--branco);
        section {
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 10px;

            background-color: var(--salmao2);

            h2 {
                font-size: 1rem;
                text-align: left;
                margin: 0 0 0.9rem 0.5rem;
                
            }
            .ordens {
                font-size: 0.9rem;
                padding: 0.5rem;
                border: 0.1rem solid var(--marrom);
                border-radius: 5px;
                margin-bottom: 0.5rem;
                background-color: var(--branco);
            }
        }
        #secOrdensAbertas {
            display: none;
            grid-area: ordensAbertas;
            .ordensAbertas{
                display: grid;
                grid-template-columns: 1fr 7rem;
                grid-template-rows: auto auto;
                grid-template-areas: 
                    "nomeCliente dataHora"
                    "local local";
                gap: 0.1rem;

                .nomeCliente {
                    grid-area: nomeCliente;
                }
                .dataHora {
                    grid-area: dataHora;
                }
                .local {
                    grid-area: local;
                }
            }
        }
        #secOrdensSendoAtendidas {
            grid-area: ordensSendoAtendidas;
            .ordensSendoAtendidas {
                display: grid;
                grid-template-columns: 1fr 7rem;
                grid-template-rows: auto auto;
                grid-template-areas: 
                    "nomeCliente dataHora"
                    "local local"
                    "tecnico tecnico";
                gap: 0.1rem;

                .nomeCliente {
                    grid-area: nomeCliente;
                }
                .dataHora {
                    grid-area: dataHora;
                }
                .local {
                    grid-area: local;
                }
                .tecnico {
                    grid-area: tecnico;
                }
            }
        }
        #secTecnicosDisponiveis {
            grid-area: tecDisponiveis;
        }
    }
}
@media screen and (width <= 750px) {
    #pageHome{
        #mainHome {
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content;
            grid-template-areas: 
                "ordensSendoAtendidas"
                "tecDisponiveis" ;
            gap: 1rem;
        }
    }
}
@media screen and (width <= 550px) {
    
}