:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao: #F2AE72;
    --salmaoClaro: #f7cba4;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
}
#pageHome {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #F2E8DF;
    box-sizing: border-box;

    #headerHome {
        display: flex;
        grid-area: header;
        justify-content: right;
        align-items: center;
        gap: 0.2rem;
        padding: 0 1rem;

        z-index: 96;

        background-color: var(--marrom);
        #bttNav {
            width: 2rem;
            cursor: pointer;
            z-index: 99;
        }
        #sair {
            cursor: pointer;
            font-size: 0.95rem;
            font-weight: 500;
            text-decoration: none;
            color: var(--salmao);
        }
    }
    #navHome {
        display: flex;
        grid-area: nav;
        flex-direction: column;
        box-sizing: border-box;
        height: 100%;
        background-color: var(--azul);
        transition: 0.25s;
        z-index: 98;
        #bttNav {
            width: 3rem;
            position: fixed;
            transition: 0.25s;
            cursor: pointer;
        }
        #containerLinks {
            position: fixed;
            top: 2.5rem;
            margin: 0.5rem 1rem;
            transition: 0.6s;
            .links {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                width: auto;
                text-decoration: none;
                font-weight: 500;
                
                color: var(--branco);
                margin: 0.9rem 0;
                transition: 0.6s;
                img {
                    height: 1.5rem;
                }
                .nomeGoTo {
                    margin: 0;
                    transition: 0.6s;
                }
            }
            .links:hover {
            }
        }
    }
    .navAberto {
        width: 11rem;
        #bttNav {
            margin-left: 9.5rem;
        }
        #containerLinks {
            .links {
                gap: 0;
                .nomeGoTo {
                    display: flex;
                }
            }
        }
    }
    .navFechado {
        width: 4rem;
        #bttNav {
            margin-left: 2.4rem;
        }
        #containerLinks {
            .links {
                .nomeGoTo {
                    display: none;
                }
            }
        }
    }
    #mainHome {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
        grid-template-areas: 
            "ordensAbertas ordensSendoAtendidas";
        gap: 1rem;
        align-items: start;
        grid-area: main;

        width: 100%;
        padding: 1rem;
        margin: 0 auto;
        box-sizing: border-box;

        background-color: var(--branco);
        section {
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 10px;

            background-color: var(--salmaoClaro);

            h2 {
                font-size: 1rem;
                text-align: left;
                margin: 0 0 0.9rem 0.5rem;
                
            }
            .ordens {
                font-size: 0.9rem;
                padding: 0.5rem;
                border: 0.1rem solid var(--marrom);
                border-radius: 5px;
                margin-bottom: 0.5rem;
                background-color: var(--branco);
            }
        }
        #secOrdensAbertas {
            grid-area: ordensAbertas;
            .ordensAbertas{
                display: grid;
                grid-template-columns: 1fr 7rem;
                grid-template-rows: auto auto;
                grid-template-areas: 
                    "nomeCliente dataHora"
                    "local local";
                gap: 0.1rem;

                .nomeCliente {
                    grid-area: nomeCliente;
                }
                .dataHora {
                    grid-area: dataHora;
                }
                .local {
                    grid-area: local;
                }
            }
        }
        #secOrdensSendoAtendidas {
            grid-area: ordensSendoAtendidas;
            .ordensSendoAtendidas {
                display: grid;
                grid-template-columns: 1fr 7rem;
                grid-template-rows: auto auto;
                grid-template-areas: 
                    "nomeCliente dataHora"
                    "local local"
                    "tecnico tecnico";
                gap: 0.1rem;

                .nomeCliente {
                    grid-area: nomeCliente;
                }
                .dataHora {
                    grid-area: dataHora;
                }
                .local {
                    grid-area: local;
                }
                .tecnico {
                    grid-area: tecnico;
                }
            }
        }
    }
}
@media screen and (width <= 800px) {
    #pageHome{
        #mainHome {
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content;
            grid-template-areas: 
                "ordensAbertas" 
                "ordensSendoAtendidas";
            gap: 1rem;
        }
    }
}
@media screen and (width <= 550px) {
    
}