/* .especs {
    cursor: pointer;
    .headEspec {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.50rem;
        font-size: 0.9rem;
        font-weight: 500;
        height: 1.7rem;
        width: max-content;
        padding: 0.2rem 0.2rem;
        color: var(--salmao1);
        background-color: var(--marrom);
        p {
            margin: 0;
        }
        .nomeEspec {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.1rem 0.5rem;
            border: 0.15rem solid;
            border-radius: 0.3rem;
            
        }
        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--salmao1);
            border: 0.1rem solid;
            border-color: var(--salmao1);
            border-radius: 0.3rem;
            height: max-content;
            width: max-content;
            img {
                height: 1.2rem;
            }
            
        }
        button:hover {
                background-color: var(--salmao2);
        }
        
    }
    .servsEspec {
        display: flex;
        gap: 0.9rem;

        padding: 0.5rem 1rem;
        
        p {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: left;
            
            font-size: 0.95rem;
            height: 1rem;
            margin: 0;
            color: var(--marrom);
        }
        p:hover {
            
            font-weight: 500;
        }
    }
}
.especAberto {
    border: 0.1rem solid var(--marrom);
    background-color: var(--salmao3);
    .headEspec {
    }
    .servsEspec {
        display: flex;
        border-radius: 0 0 0.4rem 0.4rem;
    }
}
.especFechado {
    .headEspec {
        border-radius: 0.5rem;
    }
    .servsEspec {
        display: none;
    }
} */