#pageOrdem {
    width: 100vw;
    #mainOrdem {
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
        max-width: 100vw;
        padding: 0.5rem .5rem;
    }
    section, aside {
        padding: 1rem;
        border-style: solid;
        border-width: 1px;
        border-radius: 0.3rem;
        /* box-shadow: var(--boxShadow); */
        h2 {
            font-size: 1rem;
            margin-bottom: .4rem;
        }
        #contGeral,
        #contServico,
        #contCliente,
        #contEndereco,
        #contFuncionario,
        #contAcoes {
            padding: 0.5rem;
            border-radius: 0.3rem;
            border-style: solid;
            border-width: 1px;
        }
    }
    #asideAcoes {
        flex-direction: column;
        #contAcoes {
            flex-direction: column;
            padding: .3rem;
            
            button {
                width: 100%;
            }
        }
        
        #contAcoes {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;

            button {
                cursor: pointer;
                text-align: center;
                font-size: 0.9rem;
                padding: 0.2rem 0.5rem;
                border-radius: 0.3rem;
                border-style: solid;
                border-width: 1px;
            }
        }
    }
    #secPrincipal {
        display: flex;
        flex-direction: column;
        grid-area: principal;
        gap: 0.3rem;
        
        
        span {
            font-weight: 500;
        }
        #contGeral {
            display: flex;
            /* grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)); */
            gap: .2rem;
            flex-wrap: wrap;
            justify-content: space-between;
            div {
                display: flex;
                gap: 0.2rem;
            }
            #contSituacao {
                #situacao {
                    padding: 0 .3rem;
                    border-radius: .3rem;
                    font-weight: 500;
                }
                .situacaoPENDENTE {
                    background-color: var(--pendente);
                }
                .situacaoRETORNO {
                    background-color: var(--retorno);
                }
            }
        }
        #contServico {
            div {
                display: flex;
                gap: 0.5rem;
            }
        }
        #contCliente {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div {
                display: flex;
                gap: 0.2rem;
            }
        }
        #contEndereco {
            display: flex;
            gap: 0.5rem;
        }
    }
    .shadowBG {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
#pageOrdem {
    color: var(--marrom1);
    section, aside {
        border-color: var(--marrom1);
        background-color: var(--salmao2);

        #contGeral,
        #contServico,
        #contCliente,
        #contEndereco,
        #contFuncionario,
        #contAcoes {
            border-color: var(--salmao1);
            background-color: var(--salmao2);
        }
    }
    #asideAcoes {
        #contAcoes {
            background-color: var(--salmao3);
            button {
                background-color: var(--marrom1);
                color: var(--salmao2);
                border-color: var(--marrom1);
            }
            button:hover {
                background-color: var(--marrom2);
            }
        }
    }
    #secPrincipal {
        #contGeral,
        #contServico,
        #contCliente,
        #contEndereco,
        #contFuncionario {
            background-color: var(--salmao3);
        }
    }
    #secAtendimentos {
        #msgSemAtendimentos {
            background-color: var(--salmao3);
            border-color: var(--salmao1);
        }
    }
}

@media screen and (width >= 600px) {
    #pageOrdem >
    #mainOrdem {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "acoes acoes"
        "principal atendimentos";
        max-height: none;
        
        section, aside {
            h2 {
                font-size: .85rem;
                margin-bottom: 1rem;
            }
        }
        #asideAcoes {
            flex-direction: column;
            #contAcoes {
                justify-content: space-evenly;
                flex-direction: row;
                padding: .3rem;
                
                button {
                    width: 30%;

                }
            }
        }
    }
}
@media screen and (width >= 950px) {
    #pageOrdem >
    #mainOrdem {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-areas: 
            "acoes principal atendimentos";
        align-items: flex-start;
        /* justify-content: center; */
        gap: 0.5rem;
        #asideAcoes {
            flex-direction: column;
            #contAcoes {
                
                display: flex;
                grid-area: acoes;
                flex-direction: column;
                button {
                    width: 100%;
                }
            }
        }
    }
}
/* 
@media screen and (width <= 950px) {
    #pageOrdem {
        #mainOrdem {
            grid-template-columns: 3fr 2fr;
            grid-template-rows: auto 1fr;
            grid-template-areas: 
            "acoes acoes"
            "principal atendimentos";
            max-height: none;
            
            section, aside {
                h2 {
                    font-size: .85rem;
                    margin-bottom: .4rem;
                }
            }
            #asideAcoes {
                flex-direction: column;
                #contAcoes {
                    justify-content: space-evenly;
                    flex-direction: row;
                    padding: .3rem;
                    
                    button {
                        width: 30%;

                    }
                }
            }
        }
    }
}
@media screen and (width <= 600px) {
    #pageOrdem > 
    #mainOrdem {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        
        #asideAcoes {
            flex-direction: column;
            #contAcoes {
                flex-direction: column;
                padding: .3rem;
                
                button {
                    width: 100%;
                }
            }
        }
    }
}
*/