#pagePrimeiroAcesso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
    padding: .5rem;
    overflow: hidden;
    background-color: var(--branco);
    color: var(--marrom1);
    #secPrimeiroAcesso {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        
        padding: 1rem;
        border-radius: .3rem;
        border-style: solid;
        border-width: 1px;
        max-width: 35rem;

        background-color: var(--salmao2);
        border-color: var(--marrom1);

        h1 {
            font-size:  1.3rem;
            margin: 0;
            margin-bottom: .5rem;
        }
        #contMsgAviso, #contSenhas {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: .5rem 1rem;
            border-radius: .3rem;
            border: 1px solid;
            
            border-color: var(--salmao1);
            width: 100%;
        }
        #contMsgAviso {
        }
        #contSenhas {
            display: flex;
            flex-direction: column;
            gap: .15rem;
            .senhas {
                font-size: 0.97rem;
                border-style: solid;
                border-width: 0.1rem;
                border-radius: 0.3rem;
                background-color: var(--branco);
                border-color: var(--laranja);
                input {
                    padding: 0.15rem 0.1rem 0.15rem 0.4rem;
                    border-radius: 0.3rem;
                }
                button {
                    cursor: pointer;
                    padding: 0.1rem 0.3rem;
                    height: 100%;
                    border-radius: 0 0.3rem 0.3rem 0;
                }
                button:hover, button:focus {
                    background-color: var(--salmao2);
                }
                button:focus {
                    outline-width: 0.1rem;
                    outline-style: solid;
                    outline-color: var(--laranja);

                }
                svg {
                    color: var(--marrom1);
                }
            }
        }
        #contAcaoPrimeiroAcesso {
            #buttonSalvarSenha {
                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                font-size: 1rem;
                font-weight: 500;
                text-decoration: none;

                width: auto;
                height: auto;
                border-radius: 5px;
                border-width: 0.1rem;
                border-style: solid;
                margin: 0.5rem 0;
                
                border-color: var(--laranja);
                color: var(--branco);
                background-color: var(--marrom1);
                transition: 350ms;

                #iconLoading svg{
                    height: 1.2rem;
                    width: 1.2rem;
                }
            }
            #buttonSalvarSenha:hover {
                background-color: var(--marrom2);
            }
            #buttonSalvarSenha:focus {
                outline-color: var(--laranja);
                outline-width: 0.11rem;
                outline-style: solid;
            }
            .bttNormal {
                padding: 0.2rem 2rem;

                #iconLoading {
                    display: none;
                }
            }
            .bttCarregando {
                gap: 0.6rem;
                padding: 0.2rem 1.1rem;
                #iconLoading {
                    display: block;
                }
            }
        }
    }
}