:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
}

#mainPerfilConfig {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    'mainConfig infosFunc';
    grid-template-columns: auto minmax(min-content, 30rem);
    grid-template-rows: min-content;

    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    background-color: var(--branco);
}
#mainPerfilConfig
> section {
    padding: 1.5rem 1.5rem;
    border: 0.1rem solid var(--marrom);
    border-radius: 10px;
    background-color: var(--salmao2);
    width: 100%;
    box-sizing: border-box;
    h2 {
        font-size: 1rem;
        margin: 0;
        margin-bottom: 0.99rem;
    }
}
#infosFuncionario {
    grid-area: infosFunc;
}
#contInfosFunc {
    display: flex;
    flex-direction: column;

    font-size: 0.9rem;
    padding: 0.5rem;
    border: 0.1rem solid;
    border-color: var(--salmao1);
    border-radius: 0.3rem;
}
#secUserConfig {
    grid-area: mainConfig;
}
@media screen and (width <= 750px) {
}
@media screen and (width <= 550px) {
    
}