:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
}

#pagePerfilConfig {
    #mainPerfilConfig {
        grid-area: main;
        display: flex;
        align-items: start;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 1rem;
        margin: 0 auto;
        box-sizing: border-box;

        background-color: var(--branco);
        section {
            padding: 1rem;
            border: 0.1rem solid var(--marrom);
            border-radius: 10px;
            background-color: var(--salmao1);
            width: 100%;
            box-sizing: border-box;
        }
    }
}
@media screen and (width <= 750px) {
    #pageHome{
        #mainHome {
            
        }
    }
}
@media screen and (width <= 550px) {
    
}