:root {
    --azul: #395873;
    --azulHover: #2a4358;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
}
#header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
    padding: 0 2rem 0 1rem;
    height: 3rem;

    background-color: var(--marrom);
    .tituloPag {
        font-size: 1rem;
        font-weight: 500;
        margin-left: 2rem;
        color: var(--salmao1);
    }
    #headerRight {
        display: flex;
        align-items: center;
        gap: 1rem;
        #contIconUser {
            cursor: pointer;
            display: flex;
            align-items: center;
            height: 1.5rem;
            width: 1.5rem;
            background-image: url(../../assets/userIcon.png);
            background-size: 100%;
        }
        #contIconUser:hover {
            background-image: url(../../assets/userIconHover.png);
        }
        #sair {
            all: unset;
            cursor: pointer;
            font-size: 0.95rem;
            font-weight: 500;
            text-decoration: none;
            text-align: center;
            padding: 0.2rem 0.7rem;
            width: auto;
            border-radius: 0.3rem;
            color: var(--marrom);
            background-color: var(--salmao1);
        }
        #sair:hover {
            background-color: var(--salmao2);
        }
        .customDropdown {
            background-color: #F2AE72 !important;
        }
        
        /* #contConfigUser {
            display: flex;
            flex-direction: column;

            position: fixed;
            top: 1.5rem;
            right: 7.5rem;
            
            padding: 0.5rem 1rem;
            border: 1px solid var(--marrom);
            border-top: 0;
            border-radius: 0.5rem 0 0.5rem 0.5rem;
            box-shadow: 0 0.6rem 0.8rem rgba(0, 0, 0, 0.1);
            background-color: var(--branco);

            #nomeUsuario {
                font-size: 0.8rem;
                text-align: center;
                font-weight: 500;
                color: var(--marrom);
                margin: 0;
            }
            #cargoUsuario {
                font-size: 0.8rem;
                text-align: center;
                font-weight: 500;
                margin: 0;
                margin-bottom: 0.5rem;
            }
            #toUserConfig {
                font-size: 0.95rem;
                text-align: center;
                color: var(--marrom);
                text-decoration: none;
            }
            #toUserConfig:hover {
                text-decoration: underline;
            }
            
        } */
    }
}