#header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
    padding: 0 2rem 0 1rem;
    height: 100%;
    .tituloPag {
        font-size: 1rem;
        font-weight: 500;
        margin-left: 2rem;
    }
    #headerRight {
        display: flex;
        align-items: center;
        gap: 1rem;
        #iconUser {
            padding: 0.2rem 0.2rem;
            border-radius: 50%;
            height: auto;
        }
        #iconUser
        svg {
            height: 1.35rem;
            width: 1.35rem;
        }
        #sair {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: .92rem;
            font-weight: 500;
            text-decoration: none;
            letter-spacing: auto;
            word-spacing: auto;
            line-height: normal;
            /* line-height: 1.2rem; */
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;

            padding-block: 0;
            padding-inline: 0;
            padding: 0.2rem 0.7rem;
            width: auto;
            border: 0;
            border-radius: 0.3rem;
        }
        /* #contConfigUser {
            display: flex;
            flex-direction: column;

            position: fixed;
            top: 1.5rem;
            right: 7.5rem;
            
            padding: 0.5rem 1rem;
            border: 1px solid var(--marrom);
            border-top: 0;
            border-radius: 0.5rem 0 0.5rem 0.5rem;
            box-shadow: 0 0.6rem 0.8rem rgba(0, 0, 0, 0.1);
            background-color: var(--branco);

            #nomeUsuario {
                font-size: 0.8rem;
                text-align: center;
                font-weight: 500;
                color: var(--marrom);
                margin: 0;
            }
            #cargoUsuario {
                font-size: 0.8rem;
                text-align: center;
                font-weight: 500;
                margin: 0;
                margin-bottom: 0.5rem;
            }
            #toUserConfig {
                font-size: 0.95rem;
                text-align: center;
                color: var(--marrom);
                text-decoration: none;
            }
            #toUserConfig:hover {
                text-decoration: underline;
            }
            
        } */
    }
}
#header {
    background-color: var(--marrom1);
    .tituloPag {
        color: var(--salmao1);
    }
    #iconUser {
        background-color: var(--salmao1);
    }
    #iconUser:hover {
        background-color: var(--salmao2);
    }
    #iconUser
    svg {
        color: var(--marrom1);
    }
    #sair {
        color: var(--marrom1);
        background-color: var(--salmao1);
    }
    #sair:hover {
        background-color: var(--salmao2);
    }
}