:root {
    --azul: #395873;
    --azulHover: #2a4358;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom: #26110D;
    --preto: #000;
}
#header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
    padding: 0 1rem;

    z-index: 96;

    background-color: var(--marrom);
    .tituloPag {
        font-size: 1rem;
        font-weight: 500;
        margin-left: 2rem;
        color: var(--salmao1);
    }
    #sair {
        cursor: pointer;
        font-size: 0.95rem;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        padding: 0.2rem;
        width: 5rem;
        border-radius: 0.3rem;
        color: var(--marrom);
        background-color: var(--salmao1);
    }
    #sair:hover {
        background-color: var(--salmao2);
    }
}