:root {
    --azul: #395873;
    --azulHover: #2a4358;
    --nav: #395873ea;
    --laranja: #D96704;
    --salmao1: #F2AE72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #F2E8DF;
    --marrom1: #26110D;
    --marrom2: #3b1f17;
    --marrom3: #462b18;
    --preto: #000;
}
#nav {
    display: flex;
    grid-area: nav;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    background-color: var(--azul);
    transition: 0.25s;
    #bttNav {
        width: 3rem;
        position: fixed;
        transition: 0.25s;
        cursor: pointer;
    }
    #containerLinks {
        position: sticky;
        top: 3rem;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 0.5rem 0;
        
        .links {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
            height: auto;
            text-decoration: none;
            font-weight: 500;
            box-sizing: border-box;
            color: var(--branco);
            padding: 0.3rem 0.7rem 0.3rem 1.2rem;
            margin: 0;

            .iconNav, svg {
                box-sizing: border-box;
            }
            .iconNav,
            .iconNav > svg,
            img {
                color: var(--branco);
                height: 1.5rem;
                width: 1.5rem;
            }
            .nomeGoTo {
                transition: 0.6s;
                margin: 0;
                transition: 0.2s;
                font-size: 1rem;
            }
        }
        .links:hover {
            background-color: var(--azulHover);
            transition: 0.3s;
        }
    }
}
.navAberto {
    width: 11rem;
    #bttNav {
        margin-left: 9.5rem;
    }
    #containerLinks {
        transition: 0.6s;
        a {
            gap: 1rem;
            .iconNav, svg {
                box-sizing: border-box;
            }
            .iconNav,
            .iconNav > svg,
            img {
                color: var(--branco);
                height: 1.5rem;
                width: 1.5rem;
            }
            .nomeGoTo {
                display: flex;
            }
        }
        #goToEspecs {
            align-items: flex-start;
        }
    }
}
.navFechado {
    width: 4rem;
    #bttNav {
        margin-left: 2.4rem;
    }
    #containerLinks {
        transition: 0.6s;
        .links {
            .iconNav, svg {
                box-sizing: border-box;
            }
            .iconNav,
            .iconNav > svg,
            img {
                color: var(--branco);
                height: 1.5rem;
                width: 1.5rem;
            }
            .nomeGoTo {
                display: none;
            }
        }
    }
}
a.active {
    background-color: var(--laranja);
}
@media screen and (width <= 950px) {
    #nav,
    .navFechado,
    .navAberto  {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding: 0;
        width: 100%;
        transition: none;
        #bttNav {
            display: none;
        }
        #containerLinks {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0;
            .links {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.4rem 1rem;
                width: min-content;
                .nomeGoTo {
                    font-size: 0.8rem;
                    display: none;
                }

            }
            a.active {
                background-color: var(--laranja);
                .nomeGoTo {
                    /* display: block; */
                }
            }
        }
    }
}