/* VARIAVEIS */
:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #d96704;
    --salmao1: #f2ae72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #f2e8df;
    --cinza1: #dfdcd9;
    --marrom1: #26110D;
    --marrom2: #3b1f17;
    --marrom3: #462b18;
    --preto: #000;
    --font1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    --font2: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --boxShadow: 0 6px 16px 0 rgba(51, 6, 6, 0.08),0 3px 6px -4px rgba(0, 0, 0, 0.12),0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
[data-theme="normal-light"]{
    --navColor: #395873;
    --nav: #395873ea;
    --primary1: #26110D;
    --primary2: #3b1f17;
    --primary3: #462b18;
    --laranja: #d96704;
    --secondary1: #f2ae72;
    --secondary2: #f7cba4;
    --secondary3: #fcd8b9;
    --secondary4: #f2e8df;
    --cinza1: #dfdcd9;
}
/* RESETE */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* GERAIS */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Para evitar rolagem na página toda */
}
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;

    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    font-family: var(--font2);
}
#root {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: calc(100% + 200px) 9rem;
    background-position: 100% 100%;  
    background-image: url('data:image/svg;charset=utf8, <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 490" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(247, 203, 164, 1)" offset="0%"></stop><stop stop-color="rgba(242, 232, 223, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,147L48,130.7C96,114,192,82,288,98C384,114,480,180,576,212.3C672,245,768,245,864,261.3C960,278,1056,310,1152,334.8C1248,359,1344,376,1440,392C1536,408,1632,425,1728,400.2C1824,376,1920,310,2016,261.3C2112,212,2208,180,2304,187.8C2400,196,2496,245,2592,285.8C2688,327,2784,359,2880,383.8C2976,408,3072,425,3168,383.8C3264,343,3360,245,3456,187.8C3552,131,3648,114,3744,89.8C3840,65,3936,33,4032,73.5C4128,114,4224,229,4320,253.2C4416,278,4512,212,4608,155.2C4704,98,4800,49,4896,32.7C4992,16,5088,33,5184,57.2C5280,82,5376,114,5472,114.3C5568,114,5664,82,5760,130.7C5856,180,5952,310,6048,375.7C6144,441,6240,441,6336,383.8C6432,327,6528,212,6624,187.8C6720,163,6816,229,6864,261.3L6912,294L6912,490L6864,490C6816,490,6720,490,6624,490C6528,490,6432,490,6336,490C6240,490,6144,490,6048,490C5952,490,5856,490,5760,490C5664,490,5568,490,5472,490C5376,490,5280,490,5184,490C5088,490,4992,490,4896,490C4800,490,4704,490,4608,490C4512,490,4416,490,4320,490C4224,490,4128,490,4032,490C3936,490,3840,490,3744,490C3648,490,3552,490,3456,490C3360,490,3264,490,3168,490C3072,490,2976,490,2880,490C2784,490,2688,490,2592,490C2496,490,2400,490,2304,490C2208,490,2112,490,2016,490C1920,490,1824,490,1728,490C1632,490,1536,490,1440,490C1344,490,1248,490,1152,490C1056,490,960,490,864,490C768,490,672,490,576,490C480,490,384,490,288,490C192,490,96,490,48,490L0,490Z"></path><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(247, 203, 164, 1)" offset="0%"></stop><stop stop-color="rgba(242, 232, 223, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,343L48,302.2C96,261,192,180,288,187.8C384,196,480,294,576,351.2C672,408,768,425,864,383.8C960,343,1056,245,1152,245C1248,245,1344,343,1440,367.5C1536,392,1632,343,1728,277.7C1824,212,1920,131,2016,147C2112,163,2208,278,2304,277.7C2400,278,2496,163,2592,122.5C2688,82,2784,114,2880,163.3C2976,212,3072,278,3168,310.3C3264,343,3360,343,3456,326.7C3552,310,3648,278,3744,236.8C3840,196,3936,147,4032,163.3C4128,180,4224,261,4320,253.2C4416,245,4512,147,4608,122.5C4704,98,4800,147,4896,155.2C4992,163,5088,131,5184,138.8C5280,147,5376,196,5472,187.8C5568,180,5664,114,5760,114.3C5856,114,5952,180,6048,236.8C6144,294,6240,343,6336,375.7C6432,408,6528,425,6624,383.8C6720,343,6816,245,6864,196L6912,147L6912,490L6864,490C6816,490,6720,490,6624,490C6528,490,6432,490,6336,490C6240,490,6144,490,6048,490C5952,490,5856,490,5760,490C5664,490,5568,490,5472,490C5376,490,5280,490,5184,490C5088,490,4992,490,4896,490C4800,490,4704,490,4608,490C4512,490,4416,490,4320,490C4224,490,4128,490,4032,490C3936,490,3840,490,3744,490C3648,490,3552,490,3456,490C3360,490,3264,490,3168,490C3072,490,2976,490,2880,490C2784,490,2688,490,2592,490C2496,490,2400,490,2304,490C2208,490,2112,490,2016,490C1920,490,1824,490,1728,490C1632,490,1536,490,1440,490C1344,490,1248,490,1152,490C1056,490,960,490,864,490C768,490,672,490,576,490C480,490,384,490,288,490C192,490,96,490,48,490L0,490Z"></path><defs><linearGradient id="sw-gradient-2" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(247, 203, 164, 1)" offset="0%"></stop><stop stop-color="rgba(242, 232, 223, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 100px); opacity:0.8" fill="url(#sw-gradient-2)" d="M0,49L48,114.3C96,180,192,310,288,375.7C384,441,480,441,576,424.7C672,408,768,376,864,302.2C960,229,1056,114,1152,89.8C1248,65,1344,131,1440,187.8C1536,245,1632,294,1728,261.3C1824,229,1920,114,2016,57.2C2112,0,2208,0,2304,8.2C2400,16,2496,33,2592,40.8C2688,49,2784,49,2880,114.3C2976,180,3072,310,3168,375.7C3264,441,3360,441,3456,367.5C3552,294,3648,147,3744,73.5C3840,0,3936,0,4032,16.3C4128,33,4224,65,4320,122.5C4416,180,4512,261,4608,277.7C4704,294,4800,245,4896,220.5C4992,196,5088,196,5184,163.3C5280,131,5376,65,5472,32.7C5568,0,5664,0,5760,57.2C5856,114,5952,229,6048,228.7C6144,229,6240,114,6336,106.2C6432,98,6528,196,6624,212.3C6720,229,6816,163,6864,130.7L6912,98L6912,490L6864,490C6816,490,6720,490,6624,490C6528,490,6432,490,6336,490C6240,490,6144,490,6048,490C5952,490,5856,490,5760,490C5664,490,5568,490,5472,490C5376,490,5280,490,5184,490C5088,490,4992,490,4896,490C4800,490,4704,490,4608,490C4512,490,4416,490,4320,490C4224,490,4128,490,4032,490C3936,490,3840,490,3744,490C3648,490,3552,490,3456,490C3360,490,3264,490,3168,490C3072,490,2976,490,2880,490C2784,490,2688,490,2592,490C2496,490,2400,490,2304,490C2208,490,2112,490,2016,490C1920,490,1824,490,1728,490C1632,490,1536,490,1440,490C1344,490,1248,490,1152,490C1056,490,960,490,864,490C768,490,672,490,576,490C480,490,384,490,288,490C192,490,96,490,48,490L0,490Z"></path></svg>');
    /* 
    <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 490" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(247, 203, 164, 1)" offset="0%"></stop><stop stop-color="rgba(242, 232, 223, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,147L48,130.7C96,114,192,82,288,98C384,114,480,180,576,212.3C672,245,768,245,864,261.3C960,278,1056,310,1152,334.8C1248,359,1344,376,1440,392C1536,408,1632,425,1728,400.2C1824,376,1920,310,2016,261.3C2112,212,2208,180,2304,187.8C2400,196,2496,245,2592,285.8C2688,327,2784,359,2880,383.8C2976,408,3072,425,3168,383.8C3264,343,3360,245,3456,187.8C3552,131,3648,114,3744,89.8C3840,65,3936,33,4032,73.5C4128,114,4224,229,4320,253.2C4416,278,4512,212,4608,155.2C4704,98,4800,49,4896,32.7C4992,16,5088,33,5184,57.2C5280,82,5376,114,5472,114.3C5568,114,5664,82,5760,130.7C5856,180,5952,310,6048,375.7C6144,441,6240,441,6336,383.8C6432,327,6528,212,6624,187.8C6720,163,6816,229,6864,261.3L6912,294L6912,490L6864,490C6816,490,6720,490,6624,490C6528,490,6432,490,6336,490C6240,490,6144,490,6048,490C5952,490,5856,490,5760,490C5664,490,5568,490,5472,490C5376,490,5280,490,5184,490C5088,490,4992,490,4896,490C4800,490,4704,490,4608,490C4512,490,4416,490,4320,490C4224,490,4128,490,4032,490C3936,490,3840,490,3744,490C3648,490,3552,490,3456,490C3360,490,3264,490,3168,490C3072,490,2976,490,2880,490C2784,490,2688,490,2592,490C2496,490,2400,490,2304,490C2208,490,2112,490,2016,490C1920,490,1824,490,1728,490C1632,490,1536,490,1440,490C1344,490,1248,490,1152,490C1056,490,960,490,864,490C768,490,672,490,576,490C480,490,384,490,288,490C192,490,96,490,48,490L0,490Z"></path><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(247, 203, 164, 1)" offset="0%"></stop><stop stop-color="rgba(242, 232, 223, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,343L48,302.2C96,261,192,180,288,187.8C384,196,480,294,576,351.2C672,408,768,425,864,383.8C960,343,1056,245,1152,245C1248,245,1344,343,1440,367.5C1536,392,1632,343,1728,277.7C1824,212,1920,131,2016,147C2112,163,2208,278,2304,277.7C2400,278,2496,163,2592,122.5C2688,82,2784,114,2880,163.3C2976,212,3072,278,3168,310.3C3264,343,3360,343,3456,326.7C3552,310,3648,278,3744,236.8C3840,196,3936,147,4032,163.3C4128,180,4224,261,4320,253.2C4416,245,4512,147,4608,122.5C4704,98,4800,147,4896,155.2C4992,163,5088,131,5184,138.8C5280,147,5376,196,5472,187.8C5568,180,5664,114,5760,114.3C5856,114,5952,180,6048,236.8C6144,294,6240,343,6336,375.7C6432,408,6528,425,6624,383.8C6720,343,6816,245,6864,196L6912,147L6912,490L6864,490C6816,490,6720,490,6624,490C6528,490,6432,490,6336,490C6240,490,6144,490,6048,490C5952,490,5856,490,5760,490C5664,490,5568,490,5472,490C5376,490,5280,490,5184,490C5088,490,4992,490,4896,490C4800,490,4704,490,4608,490C4512,490,4416,490,4320,490C4224,490,4128,490,4032,490C3936,490,3840,490,3744,490C3648,490,3552,490,3456,490C3360,490,3264,490,3168,490C3072,490,2976,490,2880,490C2784,490,2688,490,2592,490C2496,490,2400,490,2304,490C2208,490,2112,490,2016,490C1920,490,1824,490,1728,490C1632,490,1536,490,1440,490C1344,490,1248,490,1152,490C1056,490,960,490,864,490C768,490,672,490,576,490C480,490,384,490,288,490C192,490,96,490,48,490L0,490Z"></path><defs><linearGradient id="sw-gradient-2" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(247, 203, 164, 1)" offset="0%"></stop><stop stop-color="rgba(242, 232, 223, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 100px); opacity:0.8" fill="url(#sw-gradient-2)" d="M0,49L48,114.3C96,180,192,310,288,375.7C384,441,480,441,576,424.7C672,408,768,376,864,302.2C960,229,1056,114,1152,89.8C1248,65,1344,131,1440,187.8C1536,245,1632,294,1728,261.3C1824,229,1920,114,2016,57.2C2112,0,2208,0,2304,8.2C2400,16,2496,33,2592,40.8C2688,49,2784,49,2880,114.3C2976,180,3072,310,3168,375.7C3264,441,3360,441,3456,367.5C3552,294,3648,147,3744,73.5C3840,0,3936,0,4032,16.3C4128,33,4224,65,4320,122.5C4416,180,4512,261,4608,277.7C4704,294,4800,245,4896,220.5C4992,196,5088,196,5184,163.3C5280,131,5376,65,5472,32.7C5568,0,5664,0,5760,57.2C5856,114,5952,229,6048,228.7C6144,229,6240,114,6336,106.2C6432,98,6528,196,6624,212.3C6720,229,6816,163,6864,130.7L6912,98L6912,490L6864,490C6816,490,6720,490,6624,490C6528,490,6432,490,6336,490C6240,490,6144,490,6048,490C5952,490,5856,490,5760,490C5664,490,5568,490,5472,490C5376,490,5280,490,5184,490C5088,490,4992,490,4896,490C4800,490,4704,490,4608,490C4512,490,4416,490,4320,490C4224,490,4128,490,4032,490C3936,490,3840,490,3744,490C3648,490,3552,490,3456,490C3360,490,3264,490,3168,490C3072,490,2976,490,2880,490C2784,490,2688,490,2592,490C2496,490,2400,490,2304,490C2208,490,2112,490,2016,490C1920,490,1824,490,1728,490C1632,490,1536,490,1440,490C1344,490,1248,490,1152,490C1056,490,960,490,864,490C768,490,672,490,576,490C480,490,384,490,288,490C192,490,96,490,48,490L0,490Z"></path></svg> 
    */

    p,
    h1,
    h2,
    h3 {
        margin: 0;
    }
    h4 {
        all: unset;
    }
    button {
        all: unset;
        box-sizing: border-box;
    }
    input[type="text"]{
        all: unset;
        box-sizing: border-box;
    }
    input[type="password"]{
        all: unset;
        box-sizing: border-box;
    }
    .popup {
        z-index: 999;
    }
}
/* TODO testar futuramente */
/* .salmaoDark {

}
.salmaoLight {

} */
.ant-input-password {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2 0.5rem;
    width: auto;
    height: auto;
    border-color: var(--laranja);
    width: 12rem;

    input {
        font-size: 0.9rem;
        height: 1rem;
        padding: 0;
        /* border-width: 0.1rem;
        border-style: solid;
        border-radius: 5px; */
    }
    
}
.ant-modal-content{
    background-color: var(--salmao3);
}
.paginacao {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0rem solid;
    padding: 0.2rem 0.1rem;
    gap: 0.4rem;
    .paginaItem {
        all: unset;
        cursor: pointer;
        font-size: 1rem;
        padding: 0.1rem 0.5rem;
        border: 0;
        border-radius: 0.3rem;
    }
}
.paginacao {
    border-color: var(--marrom1);
}
.paginaItem {
    color: var(--salmao2);
    background-color: var(--marrom1);
}
.paginacao 
.paginaItem:hover,
.paginaItem:focus {
    background-color: var(--marrom3);
}
.paginas {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem calc(100vh - 3rem);
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-y: hidden;
    main {
        padding: 0.5rem 1rem;
    }
}
.paginas {
    background-color: #F2E8DF;
}
.paginas
.shadowBG 
section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 2rem;
    border: 0.1rem solid var(--marrom);
    border-radius: 10px;
}
.paginas
.shadowBG 
section {
    background-color: var(--salmao2);
}
@media screen and (width <= 950px) {
    .paginas {
        width: 100vw;
        display: flex;
        flex-direction: column;
        #header {
            position: static;
            z-index: 80;
            padding: 0 1rem;
            .tituloPag {
                margin-left: 0.1rem;
            }
        }
        nav {

        }
        main {
            max-width: 100vw;
        }
    }
    #pageEspecialidades {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        section {
            width: 99%;
        }
    }}
    .paginacao {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0rem solid;
        padding: 0.2rem 0.1rem;
        gap: 0.4rem;
        .paginaItem {
            all: unset;
            cursor: pointer;
            font-size: 1rem;

            padding: 0.1rem 0.5rem;
            border: 0;
            border-radius: 0.3rem;
        }
    }
}
/* Customizando a largura da barra de rolagem */
/* ::-webkit-scrollbar {
    width: 0.9rem;
    height: 0.9rem;
    box-sizing: border-box;
} */
/* Estilizando a trilha da barra */
/* ::-webkit-scrollbar-track {
    background-color: var(--salmao3);
    border-radius: 0 0 0.4rem 0;
    border-left: 0.1rem solid var(--marrom);
    box-sizing: border-box;
} */
/* Estilizando o "thumb", a parte que o usuário move */
/* ::-webkit-scrollbar-thumb {
    background-color: var(--marrom);
    border-radius: 0.9rem;
    border: 0rem solid var(--salmao2);
    cursor: pointer;
    box-sizing: border-box;
} */
/* ::-webkit-scrollbar-button {
	background-color: #D96704;
	width: 0.5rem;
	height: 0.5rem;
} */
/* Estilizando o "thumb" ao passar o mouse */
/* ::-webkit-scrollbar-thumb:hover {
    background-color: var(--marrom);
    box-sizing: border-box;
} */
/* Estilizando o canto da barra de rolagem */
/* ::-webkit-scrollbar-corner {
    background-color: var(--laranja);
} */