@charset "UTF-8";
/* VARIAVEIS */
:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #d96704;
    --salmao1: #f2ae72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #f2e8df;
    --brancoHover: #ecded2;
    --cinza1: #dfdcd9;
    --marrom1: #26110D;
    --marrom2: #3b1f17;
    --marrom3: #462b18;
    --preto: #000;
    --pendente: #8fcdff;
    --emExecucao: #f6ff7b;
    --retorno: #ffb968;
    --cancelada: #ff8888;
    --finalizada: #0cda4a;
    --font1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    --font2: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --boxShadow: 0 6px 16px 0 rgba(51, 6, 6, 0.08),0 3px 6px -4px rgba(0, 0, 0, 0.12),0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
[data-theme="normal-light"]{
    --navColor: #395873;
    --nav: #395873ea;
    --primary1: #26110D;
    --primary2: #3b1f17;
    --primary3: #462b18;
    --laranja: #d96704;
    --secondary1: #f2ae72;
    --secondary2: #f7cba4;
    --secondary3: #fcd8b9;
    --secondary4: #f2e8df;
    --cinza1: #dfdcd9;
}
/* RESETE */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* GERAIS */
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    width: 100vw;
    max-width: 100vw;
    box-sizing: content-box;

    font-family: var(--font2);
}
#root {
    padding: 0;
    margin: 0;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    box-sizing: content-box;
    /* background-repeat: no-repeat;
    /* background-repeat: no-repeat;
    background-size: calc(100% + 200px) 9rem;
    background-position: 100% 100%;   */

}
p,
h1,
h2,
h3 {
    margin: 0;
}
h4 {
    all: unset;
}

input[type="text"]{
    all: unset;
    box-sizing: border-box;
}
input[type="password"]{
    all: unset;
    box-sizing: border-box;
}
.popup {
    z-index: 999;
}
span {
    font-weight: 500;
}
button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
}
.ant-input-password {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2 0.5rem;
    width: auto;
    height: auto;
    border-color: var(--laranja);
    width: 12rem;

    input {
        font-size: 0.9rem;
        height: 1rem;
        padding: 0;
        /* border-width: 0.1rem;
        border-style: solid;
        border-radius: 5px; */
    }
    
}
.ant-modal-content{
    background-color: var(--salmao3);
}

.paginas {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100% ;
    /* grid-template-rows: 3rem calc(100vh - 3rem); */
    grid-template-areas: 
    "nav main"
    "nav main";
    padding: 0;
    /* margin: 0; */
    min-height: 100vh;
    /* min-width: 100vw; */
    /* max-width: 100vw; */
    overflow-y: hidden;
    main {
        padding: 0.5rem 2rem;
        overflow: hidden;
    }
}
/* GLOBAL CLASS */




.paginas {
    background-color: #F2E8DF;
}
.paginas
.shadowBG 
section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 2rem;
    border: 0.1rem solid var(--marrom);
    border-radius: 10px;
}
/* FIXME remover pois começarei a usar a class generica "modal" */
.paginas
.shadowBG 
section {
    background-color: var(--salmao2);
}
@media screen and (width <= 900px) {
    .paginas {
        /* width: 100vw; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto;
        grid-template-areas: 
        "nav"
        "main";
        /* flex-direction: column; */
        /* #header {
            position: static;
            z-index: 80;
            padding: .12rem 1rem;
            .tituloPag {
                margin-left: 0.1rem;
            }
        } */
        main {
            max-width: 100vw;
        }
    }
    #pageEspecialidades {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        height: 100vh;
        /* section {
            width: 99%;
        } */
    }}
    /* FIXME Retirar isso pois já tem no css do componente */
    .paginacao {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0rem solid;
        padding: 0.2rem 0.1rem;
        gap: 0.4rem;
        .paginaItem {
            all: unset;
            cursor: pointer;
            font-size: 1rem;

            padding: 0.1rem 0.5rem;
            border: 0;
            border-radius: 0.3rem;
        }
    }
}
