/* VARIAVEIS */
:root {
    --azul: #395873;
    --nav: #395873ea;
    --laranja: #d96704;
    --salmao1: #f2ae72;
    --salmao2: #f7cba4;
    --salmao3: #fcd8b9;
    --branco: #f2e8df;
    --cinza1: #dfdcd9;
    --marrom1: #26110D;
    --marrom2: #3b1f17;
    --marrom3: #462b18;
    --preto: #000;
    --font1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    --font2: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
[data-theme="normal-light"]{
    --navColor: #395873;
    --nav: #395873ea;
    --primary1: #26110D;
    --primary2: #3b1f17;
    --primary3: #462b18;
    --laranja: #d96704;
    --secondary1: #f2ae72;
    --secondary2: #f7cba4;
    --secondary3: #fcd8b9;
    --secondary4: #f2e8df;
    --cinza1: #dfdcd9;
}
/* RESETE */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* GERAIS */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Para evitar rolagem na página toda */
}
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;

    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    font-family: var(--font2);
}
#root {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    p,
    h1,
    h2,
    h3 {
        margin: 0;
    }
    h4 {
        all: unset;
    }
    button {
        all: unset;
        box-sizing: border-box;
    }
    input[type="text"]{
        all: unset;
        box-sizing: border-box;
    }
    input[type="password"]{
        all: unset;
        box-sizing: border-box;
    }
    .popup {
        z-index: 999;
    }
}
/* TODO testar futuramente */
/* .salmaoDark {

}
.salmaoLight {

} */
.ant-input-password {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2 0.5rem;
    width: auto;
    height: auto;
    border-color: var(--laranja);
    width: 12rem;

    input {
        font-size: 0.9rem;
        height: 1rem;
        padding: 0;
        /* border-width: 0.1rem;
        border-style: solid;
        border-radius: 5px; */
    }
    
}
.ant-modal-content{
    background-color: var(--salmao3);
}
.paginacao {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0rem solid;
    padding: 0.2rem 0.1rem;
    gap: 0.4rem;
    .paginaItem {
        all: unset;
        cursor: pointer;
        font-size: 1rem;
        padding: 0.1rem 0.5rem;
        border: 0;
        border-radius: 0.3rem;
    }
}
.paginacao {
    border-color: var(--marrom1);
}
.paginaItem {
    color: var(--salmao2);
    background-color: var(--marrom1);
}
.paginacao 
.paginaItem:hover,
.paginaItem:focus {
    background-color: var(--marrom3);
}
.paginas {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3rem calc(100vh - 3rem);
    grid-template-areas: 
    "nav header"
    "nav main";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-y: hidden;
    main {
        padding: 0.5rem 1rem;
    }
}
.paginas {
    background-color: #F2E8DF;
}
.paginas
.shadowBG 
section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 2rem;
    border: 0.1rem solid var(--marrom);
    border-radius: 10px;
}
.paginas
.shadowBG 
section {
    background-color: var(--salmao2);
}
@media screen and (width <= 950px) {
    .paginas {
        width: 100vw;
        display: flex;
        flex-direction: column;
        #header {
            position: static;
            z-index: 80;
            padding: 0 1rem;
            .tituloPag {
                margin-left: 0.1rem;
            }
        }
        nav {

        }
        main {
            max-width: 100vw;
        }
    }
    #pageEspecialidades {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        section {
            width: 99%;
        }
    }}
    .paginacao {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0rem solid;
        padding: 0.2rem 0.1rem;
        gap: 0.4rem;
        .paginaItem {
            all: unset;
            cursor: pointer;
            font-size: 1rem;

            padding: 0.1rem 0.5rem;
            border: 0;
            border-radius: 0.3rem;
        }
    }
}
/* Customizando a largura da barra de rolagem */
/* ::-webkit-scrollbar {
    width: 0.9rem;
    height: 0.9rem;
    box-sizing: border-box;
} */
/* Estilizando a trilha da barra */
/* ::-webkit-scrollbar-track {
    background-color: var(--salmao3);
    border-radius: 0 0 0.4rem 0;
    border-left: 0.1rem solid var(--marrom);
    box-sizing: border-box;
} */
/* Estilizando o "thumb", a parte que o usuário move */
/* ::-webkit-scrollbar-thumb {
    background-color: var(--marrom);
    border-radius: 0.9rem;
    border: 0rem solid var(--salmao2);
    cursor: pointer;
    box-sizing: border-box;
} */
/* ::-webkit-scrollbar-button {
	background-color: #D96704;
	width: 0.5rem;
	height: 0.5rem;
} */
/* Estilizando o "thumb" ao passar o mouse */
/* ::-webkit-scrollbar-thumb:hover {
    background-color: var(--marrom);
    box-sizing: border-box;
} */
/* Estilizando o canto da barra de rolagem */
/* ::-webkit-scrollbar-corner {
    background-color: var(--laranja);
} */