$azul: #395873;
$nav: #395873ea;
$laranja: #d96704;
$salmao1: #f2ae72;
$salmao2: #f7cba4;
$salmao3: #fcd8b9;
$branco: #f2e8df;
$cinza1: #dfdcd9;
$marrom1: #26110D;
$marrom2: #3b1f17;
$marrom3: #462b18;
$preto: #000;
$font1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
$font2: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$boxShadow: 0 6px 16px 0 rgba(51, 6, 6, 0.08),0 3px 6px -4px rgba(0, 0, 0, 0.12),0 9px 28px 8px rgba(0, 0, 0, 0.05);